<div id="saveFailedPopup" class="vh-popup-overlay">
    <div class="vh-popup vh-popup-xsmall">
        <h1 class="govuk-heading-m vh-ml70 vh-mr70">Your booking could not be saved. Please try again.</h1>

        <div class="content">
            <div class="govuk-grid-row">
                <div class="vh-top">
                  <button id="btnTryAgain" class="govuk-button vh-mr25" data-module="govuk-button"
                          (click)="trySaveAgain()" alt="Try again">Try again</button>
                  <button id="btnCancel" class="govuk-button hmcts-button--secondary" data-module="govuk-button"
                          (click)="cancelSave()" alt="Confirm cancellation of new booking">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
