.vh-btncancel {
    background-color: #dee0e2 !important;
    color: #0b0b0b !important;
}
.vh-btncancel:hover, .vh-btncancel:focus {
    background-color: #bfc1c3 !important;
}
.popup {
    margin: 70px auto;
    padding: 30px;
    background: #fff;
    border-radius: 0px;
    width: 50%;
    position: relative;
    transition: all 2s ease-in-out;
}

p {
    max-height: 30%;
    overflow: auto;
    color: #0B0B0B;
    font-family: Arial;
    font-size: 18px;
    line-height: 1.3157;
}

.popup-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
}
.popup-small {
    max-width: 600px !important;
}

.vh-mr{
    margin-right: 30px;
}

.vh-top{
    margin-top: 30px;
}
    