<div>
  <app-breadcrumb [canNavigate]="canNavigate"></app-breadcrumb>
  <h1 class="govuk-heading-l">Book a video hearing</h1>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-m" id="other-info-header">Other information</h1>
      <form [formGroup]="form" class="govuk-form-group" (ngSubmit)="next()">

        <fieldset class="govuk-fieldset fieldset-margin" aria-describedby="other-information-text">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <p class="govuk-body vh-over" id="other-information-text">
              Please note any other information about this hearing that the video hearings administrator should be aware
              of.
            </p>
          </legend>

          <div class="govuk-form-group textarea-top-margin" [ngClass]="{'govuk-form-group--error':otherInformationInvalid}">
            <div id="otherInformation-error" *ngIf="otherInformationInvalid">
              <span class="govuk-error-message">
                {{constants.Error.OtherInformationErrorMsg}}
              </span>
            </div>
            <label class="govuk-label govuk-!-width-one-half" for="hidden-other-text"></label>
            <textarea class="govuk-textarea vh-text-h" id="details-other-information" name="otherInformation" rows="14"
                      cols="80" formControlName="otherInformation" aria-label="hidden-other-text"
                      aria-labelledby="other-information-text" (blur)="otherInformationOnBlur()"></textarea>
          </div>

        </fieldset>

        <div class="vh-mt50">
          <input id="nextButton" type="button" class="govuk-button vh-mr25" role="button" value="{{buttonAction}}"
                 (click)="next()" alt="Save hearing other information and go to summary" />
          <input id="cancelButton" type="button" class="govuk-button hmcts-button--secondary" role="button"
                 value="Cancel" (click)="confirmCancelBooking()"
                 alt="Confirm cancellation of new booking and return to dashboard" />
        </div>

      </form>
    </div>
  </div>
  <div *ngIf="attemptingCancellation">
    <app-cancel-popup (continueBooking)="continueBooking($event)" (cancelBooking)="cancelBooking($event)">
    </app-cancel-popup>
  </div>

  <div *ngIf="attemptingDiscardChanges">
    <app-discard-confirm-popup (continueEditing)="continueBooking($event)" (cancelChanges)="cancelChanges()">
    </app-discard-confirm-popup>

  </div>
