<div>
  <app-breadcrumb [canNavigate]="canNavigate"></app-breadcrumb>
  <h1 class="govuk-heading-l">Book a video hearing</h1>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-m">Other information</h1>
      <form [formGroup]="otherInformationForm" class="govuk-form-group" (ngSubmit)="next()">

        <fieldset class="govuk-fieldset fieldset-margin" aria-describedby="other-information">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <p class="govuk-body" id="other-information-text">
              Please note any other information about this hearing that the video hearings administrator should be aware of.
            </p>
          </legend>
          <div class="govuk-form-group textarea-top-margin">
            <textarea class="vh-text-h" id="details-other-information"
                      name="otherInformation" rows="14" cols="80"
                      formControlName="otherInformation"
                      aria-describedby="other-information"></textarea>
          </div>
        </fieldset>

        <div class="vh-mt50">
          <input id="nextButton" type="button" class="govuk-button vh-mr25" role="button" value="Next"
                 (click)="next()" />
          <input id="cancelButton" type="button"  class="govuk-button hmcts-button--secondary" role="button" value="Cancel" (click)="otherInformationCancel()" />
        </div>

      </form>
    </div>
  </div>
  <div *ngIf="attemptingCancellation">
    <app-cancel-popup (continueBooking)="continueBooking($event)"
                      (cancelBooking)="cancelBooking($event)"></app-cancel-popup>
  </div>

</div>
