<div>
  <app-breadcrumb [canNavigate]="canNavigate"></app-breadcrumb>
  <h1 class="govuk-heading-l">Book a video hearing</h1>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-m">Other information</h1>
      <p class="govuk-body" id="other-information">
        Please note any other information about this hearing that the video hearings administrator should be aware of.
      </p>
      <form [formGroup]="otherInformationForm" class="govuk-form-group" (ngSubmit)="next()">

        <fieldset class="govuk-fieldset" aria-describedby="other-information">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset fieldset-margin">
              <div class="form-group textarea-top-margin">
                <textarea class="vh-text-h" id="detailsOtherInformation"
                          name="otherInformation" rows="14" cols="80"
                          formControlName="otherInformation"
                          aria-describedby="other-information"></textarea>
              </div>
            </fieldset>
          </div>
        </fieldset>

        <div class="vh-mt50">
          <input id="nextButton" type="button" class="govuk-button vh-mr25" role="button" value="Next"
                 (click)="next()" />
          <input id="cancelButton" type="button" class="govuk-button vh-cancel-btn" role="button" value="Cancel" (click)="otherInformationCancel()" />
        </div>

      </form>
    </div>
  </div>
  <div *ngIf="attemptingCancellation">
    <app-cancel-popup (continueBooking)="continueBooking($event)"
                      (cancelBooking)="cancelBooking($event)"></app-cancel-popup>
  </div>

</div>
