<div id="cancelFailedPopup" class="vh-popup-overlay">
  <div class="vh-popup vh-popup-xsmall vh-box">
    <h1 class="govuk-heading-m vh-ml70 vh-mr70">Unable to cancel booking</h1>
    <p class="govuk-body">Please sign out, then sign in again and cancel the booking.</p>
    <p class="govuk-body">If the problem persists, please raise a ticket via Servicenow.</p>

    <div class="content">
      <div class="govuk-grid-row">
        <div class="vh-top">
          <button id="btnClosePoup" class="govuk-button vh-mr25" data-module="govuk-button" (click)="close()" alt="Close">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
