<header #headerElement class="govuk-header sticky" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__logo">
      <span class="hmcts-header__logotype hmcts-header__link">
        <img
          src="assets/images/UkGovCrestWhite.png"
          height="32"
          width="38"
          class="hmcts-header__logotype-crest vh-logo-m"
          alt="HMCTS logo crest image"
        />

        <span class="govuk-header__service-name govuk-!-margin-left-1">HM Courts &amp; Tribunals Service</span>
      </span>
    </div>
    <div class="govuk-header__content">
      <nav aria-label="Menu" class="govuk-header__navigation">
        <ul class="govuk-header__navigation-list keep-right">
          <li class="govuk-header__navigation-item">
            <span id="header-username">{{ username }}</span>
          </li>
        </ul>
      </nav>
    </div>

    <div class="govuk-header__content govuk-header__content_secondary">
      <nav aria-label="Secondary Menu" class="govuk-header__navigation">
        <ul *ngIf="loggedIn" class="govuk-header__navigation-list">
          <li class="govuk-header__navigation-item" *ngFor="let topItem of topMenuItems; index as i">
            <a
              class="govuk-header__link"
              [attr.id]="'topItem' + i"
              href="javascript:void(0)"
              (click)="selectMenuItem(i)"
              [class.govuk-header__navigation-item--active]="topItem?.active"
            >
              {{ topItem.name }}
            </a>
          </li>

          <li class="govuk-header__navigation-item keep-right">
            <a id="linkSignOut" href="javascript:void(0)" class="govuk-header__link" (click)="logout()">Sign out</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
