<header #headerElement class="hmcts-header" [class.sticky]="isSticky" role="banner">
  <div class="hmcts-header__container">
    <div class="hmcts-header__logo">
      <span class="hmcts-header__logotype hmcts-header__link">
        <img src="assets/images/UkGovCrestWhite.png" height="32" width="38" class="hmcts-header__logotype-crest" alt="HMCTS logo crest image" />
        <span class="hmcts-header__logotype-text">HM Courts &amp; Tribunals Service</span>
      </span>
    </div>
    <div *ngIf="loggedIn">
      <nav class="vh-sign">
        <div class="govuk-header__navigation govuk-header__navigation-item right-align">
          <a class="govuk-header__link" href="javascript:void()" (click)="logout()" id="linkSignOut">
            Sign out
          </a>
        </div>
      </nav>
    </div>
  </div>
  <nav class="hmcts-primary-navigation" aria-label="Primary navigation">
    <div class="hmcts-primary-navigation__container">
      <ul id="navigation" style="display: inline-block;" class="hmcts-primary-navigation__list" aria-label="Top Level Navigation">
        <li class="hmcts-primary-navigation__item" *ngFor="let topItem of topMenuItems; index as i">
          <a class="vh-primary-navigation__link" [attr.id]="'topItem' + i" href="javascript:void(0)" (click)="selectMenuItem(i)" [class.vh-primary-navigation__link_active]="topItem?.active">
            {{topItem.name}}
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<div #headerSpacing [class.sticky]="isSticky" class="header-spacing"></div>