<div>
  <div role="navigation">
    <a href="javascript:void(0)" class="govuk-skip-link" (click)="skipToContent()">Skip to main content</a>
  </div>

  <app-header [loggedIn]="loggedIn"></app-header>

  <div class="govuk-width-container vh-content" id="master-container">
    <main #maincontent class="govuk-main-wrapper" id="main-content" role="main" tabindex="-1">
      <router-outlet (activate)="onActivate($event)"></router-outlet>
    </main>
  </div>

  <div *ngIf="showSignOutConfirmation">
    <app-sign-out-popup (continue)="handleContinue()" (signOut)="handleSignOut()"></app-sign-out-popup>
  </div>
  <div *ngIf="showSaveConfirmation">
    <app-cancel-popup (continueBooking)="handleContinue()" (cancelBooking)="handleNavigate()"></app-cancel-popup>
  </div>
  <app-footer></app-footer>
</div>
