<h1 class="govuk-heading-l">Change user's password</h1>

<div
  *ngIf="failedSubmission && form.invalid"
  class="govuk-error-summary govuk-!-width-one-half"
  aria-labelledby="error-summary-title"
  role="alert"
  tabindex="-1"
  data-module="error-summary"
>
  <h2 class="govuk-error-summary__title" id="error-summary-title">Please complete the missing information</h2>
  <div class="govuk-error-summary__body">
    <ul class="govuk-list govuk-error-summary__list">
      <li *ngIf="userName.invalid">
        <a (click)="goToDiv('userName')">Please enter a valid username </a>
      </li>
    </ul>
  </div>
</div>

<form [formGroup]="form" class="govuk-form-group">
  <div class="govuk-form-group" [ngClass]="{ 'govuk-form-group--error': !isValidEmail }">
    <label class="govuk-label govuk-!-width-one-half" for="userName"> Username </label>
    <input
      id="userName"
      class="govuk-input govuk-!-width-one-half"
      type="text"
      formControlName="userName"
      required
      (blur)="userNameOnBlur()"
    />
    <div *ngIf="!isValidEmail" class="alertF alert-danger">
      <span id="userName-error" class="govuk-error-message"> Please enter a valid username </span>
    </div>
  </div>

  <div class="govuk-!-padding-bottom-9">
    <button class="govuk-button" data-module="govuk-button" id="submit" (click)="updateUser()" [disabled]="!isValidEmail">
      Update password
    </button>
  </div>
</form>

<div *ngIf="showUpdateSuccess">
  <app-update-user-popup (okay)="okay($event)" [message]="popupMessage"></app-update-user-popup>
</div>
