<h1 class="govuk-heading-l">Manage work allocation</h1>
<div class="govuk-!-margin-top-7">
  <app-upload-work-hours *ngIf="isVhTeamLeader"></app-upload-work-hours>
  <app-edit-work-hours
    [isVhTeamLeader]="isVhTeamLeader"
    (dataChange)="onDataChange($event)"
    [dataChangedBroadcast]="dataChangedBroadcast"
  ></app-edit-work-hours>

  <details *ngIf="!dom1FeatureEnabled && isVhTeamLeader" class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary govuk-!-margin-bottom-2" tabindex="0" role="button">
      <span class="govuk-details__summary-text" id="manage-team"> Manage team </span>
    </summary>
    <app-manage-team [showHeader]="false"></app-manage-team>
  </details>
  <app-allocate-hearings *ngIf="isVhTeamLeader"></app-allocate-hearings>
</div>
<div *ngIf="showSaveConfirmation">
  <app-cancel-popup (continueBooking)="handleContinue()" (cancelBooking)="cancelEditing()"></app-cancel-popup>
</div>
