<div class="govuk-!-margin-top-7">
  <details *ngIf="isVhTeamLeader" class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary" tabindex="0" role="button">
      <span class="govuk-details__summary-text" id="citizen-contact-details"> Upload working hours / non-availability </span>
    </summary>
    <div class="govuk-form-group govuk-!-margin-left-5">
      <div
        [ngClass]="{ 'govuk-form-group--error': workingHoursFileValidationErrors.length > 0 }"
        id="working-hours-file-upload-error"
        class="govuk-grid-row"
      >
        <div *ngIf="workingHoursFileValidationErrors.length > 0">
          <p
            *ngFor="let workingHoursFileValidationError of workingHoursFileValidationErrors; index as i"
            class="govuk-error-message govuk-!-margin-left-3"
          >
            Error: {{ workingHoursFileValidationError }}
          </p>
        </div>
        <div class="govuk-grid-column-one-third">
          <p>Upload working hours:</p>
        </div>
        <div class="govuk-grid-column-two-thirds govuk-!-margin-top-2">
          <label class="govuk-label govuk-!-font-size-16" for="working-hours-file-upload"> Select .CSV file to upload </label>
          <input
            (change)="handleFileInput($event.target.files[0], 'UploadWorkingHours')"
            class="govuk-file-upload"
            id="working-hours-file-upload"
            name="working-hours-file-upload"
            type="file"
            accept=".CSV"
          />
          <button class="govuk-button govuk-!-margin-left-6" data-module="govuk-button" (click)="uploadWorkingHours()">Upload</button>
        </div>
      </div>
      <ng-container *ngIf="isWorkingHoursUploadComplete" [ngSwitch]="workingHoursFileUploadUsernameErrors.length">
        <div id="working-hours-upload-result" class="govuk-body govuk-!-font-weight-bold upload-result">
          <p *ngSwitchCase="0"><fa-icon icon="circle-exclamation" aria-hidden="true"></fa-icon> Team working hours uploaded successfully</p>

          <ng-container *ngSwitchCase="numberOfUsernamesToUploadWorkHours">
            <p><fa-icon icon="circle-exclamation" aria-hidden="true"></fa-icon> Team working hours not uploaded. No users found.</p>
            <p>
              Please check that these user names have been entered correctly. If the problem persists, please raise a ticket in ServiceNow.
            </p>
          </ng-container>

          <ng-container *ngSwitchDefault>
            <p>
              <fa-icon icon="circle-exclamation" aria-hidden="true"></fa-icon>
              Team working hours upload partially successfully. Below CTSC support officer(s) could not be found:
            </p>

            <ul class="govuk-body govuk-!-font-weight-normal">
              <li *ngFor="let username of workingHoursFileUploadUsernameErrors">{{ username }}</li>
            </ul>
            <p>
              Please check that these user names have been entered correctly. If the problem persists, please raise a ticket in ServiceNow.
            </p>
          </ng-container>
        </div>
      </ng-container>

      <ng-template #workingHoursUploadFailedMessage class="govuk-body upload-result">
        <div class="govuk-!-font-weight-bold">
          <p><fa-icon icon="circle-exclamation" aria-hidden="true"></fa-icon> Team working hours not uploaded. No users found</p>
          <p>
            Please check that these user names have been entered correctly. If the problem persists, please raise a ticket in ServiceNow.
          </p>
        </div>
      </ng-template>

      <div
        [ngClass]="{ 'govuk-form-group--error': nonWorkingHoursFileValidationErrors.length > 0 }"
        id="non-working-hours-file-upload-error"
        class="govuk-grid-row"
      >
        <div *ngIf="nonWorkingHoursFileValidationErrors.length > 0">
          <p
            *ngFor="let nonWorkingHoursFileValidationError of nonWorkingHoursFileValidationErrors; index as i"
            class="govuk-error-message govuk-!-margin-left-3"
          >
            Error: {{ nonWorkingHoursFileValidationError }}
          </p>
        </div>
        <div class="govuk-grid-column-one-third">
          <p>Upload non-availability hours:</p>
        </div>
        <div class="govuk-grid-column-two-thirds govuk-!-margin-top-2">
          <label class="govuk-label govuk-!-font-size-16" for="non-availability-hours-file-upload"> Select .CSV file to upload </label>
          <input
            (change)="handleFileInput($event.target.files[0], 'UploadNonWorkingHours')"
            class="govuk-file-upload"
            id="non-availability-hours-file-upload"
            name="non-availability-hours-file-upload"
            type="file"
            accept=".CSV"
          />
          <button class="govuk-button govuk-!-margin-left-6" data-module="govuk-button" (click)="uploadNonWorkingHours()">Upload</button>
        </div>
      </div>
    </div>
  </details>
  <app-edit-work-hours></app-edit-work-hours>
  <details *ngIf="isVhTeamLeader" class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary govuk-!-margin-bottom-2" tabindex="0" role="button">
      <span class="govuk-details__summary-text" id="manage-team"> Manage team </span>
    </summary>
    <div class="govuk-form-group govuk-!-margin-left-6">
      <div class="govuk-form-group">
        <label class="govuk-label govuk-!-font-weight-bold govuk-!-margin-bottom-2" for="search-team-member">
          Search for team member
        </label>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            <input class="govuk-input" id="search-team-member" name="search-team-member" type="text" />
          </div>
          <button class="govuk-button" data-module="govuk-button">Search</button>
        </div>
      </div>
    </div>
  </details>
  <details *ngIf="isVhTeamLeader" class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary" tabindex="0" role="button">
      <span class="govuk-details__summary-text" id="citizen-contact-details"> Allocate hearings </span>
    </summary>
    <div class="govuk-form-group govuk-!-margin-left-6">
      <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-2" for="search-team-member">Search hearings</p>
      <div class="govuk-grid-row govuk-!-margin-bottom-4">
        <div class="govuk-grid-column-one-third">
          <label class="govuk-label" for="hearing-date-entry">Hearing date</label>
          <input class="govuk-input" id="hearing-date-entry" name="hearing-date-entry" type="date" />
        </div>
        <div class="govuk-grid-column-one-third">
          <label class="govuk-label" for="Ctsc-officer-user-name-entry">CTSC officer user name</label>
          <input class="govuk-input" id="Ctsc-officer-user-name-entry" name="Ctsc-officer-user-name-entry" type="text" />
        </div>
      </div>

      <div class="govuk-grid-row govuk-!-margin-bottom-4">
        <div class="govuk-grid-column-one-third">
          <label class="govuk-label" for="case-type-selection">Case type</label>
          <select class="govuk-select" id="case-type-selection" name="case-type-selection"></select>
        </div>
        <div class="govuk-grid-column-one-third">
          <label class="govuk-label" for="case-number-entry">Case number</label>
          <input class="govuk-input" id="case-number-entry" name="case-number-entry" type="text" />
        </div>
      </div>

      <div class="govuk-checkboxes govuk-!-margin-bottom-4" data-module="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
          <input
            class="govuk-checkboxes__input"
            id="show-unallocated-hearings-only-checkbox"
            name="show-unallocated-hearings-only-checkbox"
            type="checkbox"
            value="true"
          />
          <label class="govuk-label govuk-checkboxes__label" for="show-unallocated-hearings-only-checkbox">
            Only show unallocated hearings
          </label>
        </div>
      </div>

      <div class="govuk-!-margin-bottom-2">
        <button class="govuk-button govuk-!-margin-right-6" data-module="govuk-button">Search</button>
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">Clear</button>
      </div>

      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">
          Hearings
        </caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">
              <input id="select-all-hearings" name="select-all-hearings" type="checkbox" value="true" />
            </th>
            <th scope="col" class="govuk-table__header">Hearing date</th>
            <th scope="col" class="govuk-table__header">Start time</th>
            <th scope="col" class="govuk-table__header">Estimated duration</th>
            <th scope="col" class="govuk-table__header">Case number</th>
            <th scope="col" class="govuk-table__header">Case Type</th>
            <th scope="col" class="govuk-table__header">Allocated officer</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body"></tbody>
      </table>
    </div>
  </details>
</div>
