<div id="roundedborder">
  <h3 class="govuk-heading-m">{{ isEditMode ? 'Participants' : 'Participants added' }}</h3>
  <div class="vhtable" id="participants-list">
    <div *ngFor="let pat of participants">
      <div *ngIf="pat.is_judge">
        <div class="govuk-grid-row vh-row">
          <div class="govuk-grid-column-one-third vh-image-15">
            <img
              src="/assets/images/govuk-crest.png"
              height="40"
              width="40"
              class="govuk-header__logotype-crest"
              alt="HM Courts &amp; Tribunals Service crest"
            />
          </div>
          <div class="govuk-grid-column-one-half vh-image-50 vh-wrap-text">
            {{ pat.title === 'Judge' ? '' : pat.title }} {{ pat.display_name }}
            <div>
              <strong>Judge</strong>
            </div>
            <div class="govuk-hint vh-wrap" id="judge-name">{{ pat.email }}</div>
          </div>
          <div class="govuk-grid-column-one-third vhtable-cell" *ngIf="isSummaryPage">
            <a [routerLink]="['/assign-judge']" class="vhlink" (click)="editJudge()">Change</a>
          </div>
        </div>

        <div class="govuk-grid-row vh-row">
          <div class="rowbottom"></div>
        </div>
      </div>
    </div>

    <div *ngFor="let pat of participants">
      <div *ngIf="!pat.is_judge">
        <div class="govuk-grid-row vh-row vh-row-flex">
          <div class="govuk-grid-column-one-third vh-image-10 icon">
            <img
              *ngIf="isInterpreter(pat) || isInterpretee(pat)"
              src="/assets/images/interpreter.png"
              class="govuk-header__logotype-crest"
              alt="Interpreter link"
            />
          </div>
          <div class="govuk-grid-column-one-half vhtable-header">
            {{ pat.title }} {{ pat.first_name }} {{ pat.last_name }}
            <div *ngIf="isRepresentative(pat) || isInterpreter(pat); else notRepresenting">
              <span>{{ isRepresentative(pat) ? 'Representing' : 'Interpreting for' }}</span>
            </div>
            <ng-template #notRepresenting>
              <div>{{ pat.hearing_role_name }}</div>
            </ng-template>
            <div>
              <strong>{{ pat.representee }}</strong>
              <strong>{{ getInterpreteeDisplayName(pat) }} </strong>
            </div>
          </div>
          <div class="govuk-grid-column-one-third vhtable-cell" *ngIf="isEditRemoveVisible">
            <a class="vhlink" href="javascript:void(0)" (click)="editParticipant(pat.email)">Edit</a>
            <a class="vhlink" href="javascript:void(0)" (click)="removeParticipant(pat.email)">Remove</a>
          </div>
        </div>

        <div class="govuk-grid-row vh-row">
          <div class="rowbottom"></div>
        </div>
      </div>
    </div>
  </div>
</div>
