#roundedborder {
    border-color: #cccccc;
    border-width:  1px;
    border-style:  solid;
    border-radius: 11px;
    padding: 15px;
}
.vhtable {
    font-family: "nta", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 18px;
    line-height: 1;
    color: #0b0c0c;
    width: 100%;
    margin-bottom: 10px;
    border-spacing: 0;
    border-collapse: collapse;
  }
 
 .vhtable-cell {
    font-size: 18px;
    padding: 5px 5px 5px 0px;
    text-align: left;
}

#rowbottom {
    border-bottom: 1px solid #bfc1c3;
    text-align: left;
}

.vh-row{
    margin-top: 10px;
}

.vh-image-15 {
    width: 15%;
}

.vh-image-50 {
    width: 50%;
}
