<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-panel govuk-panel--confirmation" style="cursor:pointer;" (click)="viewBookingDetails()">
      <h1 class="govuk-panel__title">
        Your hearing booking was successful
      </h1>
      <div class="govuk-panel__body">
        <div class="govuk-form-group vhtable">
          <div class="vhtable-header" id="caseNumber">{{ caseNumber }}</div>
          <div class="vhtable-header" id="caseName">{{ caseName }}</div>
          <div class="vhtable-header" id="hearingDate">{{ hearingDate | appLongDatetime }}</div>
        </div>
      </div>
      <a href="javascript:void(0);" class="govuk-link vh-booking-details-link" (click)="viewBookingDetails()">View this booking</a>
    </div>

    <div class="vh-top-50">
      <button id="btnBookAnotherHearing" class="govuk-button vh-mr25" data-module="govuk-button"
              (click)="bookAnotherHearing()">
      Book another hearing</button>
    </div>

    <div class="vh-top-30">
      <a href="javascript:void(0);" class="govuk-link" (click)="returnToDashboard()">
        Return to dashboard
      </a>
    </div>
  </div>

</div>
