<div (blur)="blur()">
  <div class="govuk-form-group" [ngClass]="{'govuk-form-group--error':!isValidEmail}">
    <div *ngIf="!isValidEmail">
      <span class="govuk-error-message">
        {{constants.Error.EmailErrorMsg}}
      </span>
    </div>
    <label class="govuk-label" for="participantEmail">
      Email
    </label>
    <input #emailInput [attr.disabled]="disabled ? true : null" id="participantEmail" name="participantEmail" [(ngModel)]="email" (blur)="blurEmail()" class="govuk-input govuk-input--width-20"
           (keyup)="searchTerm.next($event.target.value)" type="email" />

    <ul *ngIf="isShowResult" class="vh-li-email">
      <li *ngFor="let result of results | slice:0:9" class="vk-showlist-m30">
        <a class="govuk-body vh-a-email" href="javascript: void(0)" (click)="selectItemClick(result)">{{result.email}}</a>
      </li>
    </ul>
  </div>

  <div class="govuk-warning-text" *ngIf="notFoundParticipant">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
      <span class="govuk-warning-text__assistive">Warning</span>
      No existing user account found - this will create a new one
    </strong>
  </div>
  <p></p>

</div>
