@use 'govuk-frontend/dist/govuk/base'  as *;

.vh-active {
  color: govuk-colour('blue') !important;
  text-decoration: none;
}
.vh-notactive {
  color: govuk-colour('black') !important;
  text-decoration: none;
}

.vh-current {
  color: govuk-colour('dark-blue') !important;
  font-weight: bold !important;
  text-decoration: none;
}
