.vh-active {
    color: #0666b4 !important;
    text-decoration: none;
}
.vh-notactive {
    color: #0b0c0c !important;
    text-decoration: none;
}

.vh-current {
    color: #0666b4 !important;
    font-weight: bold !important;
    text-decoration: none;
}
