<app-breadcrumb [canNavigate]="form.valid && hasSaved"></app-breadcrumb>
<h1 class="govuk-heading-l">Book a video hearing</h1>

<h2 class="govuk-heading-m">Hearing details</h2>

<div
  *ngIf="failedSubmission && form.invalid"
  class="govuk-error-summary govuk-!-width-one-half"
  aria-labelledby="error-summary-title"
  role="alert"
  tabindex="-1"
  data-module="error-summary"
>
  <h2 class="govuk-error-summary__title" id="error-summary-title">Please complete the missing information</h2>
  <div class="govuk-error-summary__body">
    <ul class="govuk-list govuk-error-summary__list">
      <li *ngIf="caseNumber.invalid">
        <a (click)="goToDiv('caseNumber-error')">Please enter a case number</a>
      </li>
      <li *ngIf="caseName.invalid">
        <a (click)="goToDiv('caseName-error')">Please enter a case name</a>
      </li>
      <li *ngIf="caseType.invalid">
        <a (click)="goToDiv('caseType-error')">Please enter a service</a>
      </li>
    </ul>
  </div>
</div>

<form [formGroup]="form" class="govuk-form-group" (ngSubmit)="saveHearingDetails()">
  <div [ngClass]="caseNumberInvalid ? 'govuk-form-group--error' : 'govuk-form-group'">
    <label class="govuk-label govuk-!-width-one-half" for="caseNumber"> Case number </label>
    <input
      id="caseNumber"
      class="govuk-input govuk-!-width-one-half"
      type="text"
      formControlName="caseNumber"
      required
      (blur)="caseNumberOnBlur()"
      [attr.disabled]="canEditCaseNumber ? null : true"
    />
    <div *ngIf="caseNumberInvalid" class="alert alert-danger">
      <span id="caseNumber-error" class="govuk-error-message">
        {{ caseNumber.hasError('maxlength') ? 'Character limit exceeeded' : 'Please enter a case number' }}
      </span>
    </div>
  </div>

  <div [ngClass]="caseNameInvalid ? 'govuk-form-group--error' : 'govuk-form-group'">
    <label class="govuk-label govuk-!-width-one-half" for="caseName"> Case name </label>
    <input
      id="caseName"
      placeholder="e.g. Ms A Smith vs HMRC"
      class="govuk-input govuk-!-width-one-half"
      type="text"
      formControlName="caseName"
      required
      (blur)="caseNameOnBlur()"
      [attr.disabled]="canEditCaseName ? null : true"
    />
    <div *ngIf="caseNameInvalid" class="alert alert-danger">
      <span id="caseName-error" class="govuk-error-message">
        {{ caseName.hasError('maxlength') ? 'Character limit exceeeded' : 'Please enter a case name' }}
      </span>
    </div>
  </div>

  <div *ngIf="availableCaseTypes.length > 1" [ngClass]="caseTypeInvalid ? 'govuk-form-group--error' : 'govuk-form-group'">
    <label class="govuk-label govuk-!-width-one-half" for="caseType">Service</label>
    <!--suppress XmlDuplicatedId -->
    <select *ngIf="!this.editMode" class="govuk-select govuk-!-width-one-half" id="caseType" formControlName="caseType">
      <option *ngFor="let caseType of selectableCaseTypes" [ngValue]="caseType">
        {{ caseType }}
      </option>
    </select>
    <!--suppress XmlDuplicatedId -->
    <input
      *ngIf="this.editMode"
      id="caseType"
      [placeholder]="this.hearing.caseType.name"
      class="govuk-input govuk-!-width-one-half"
      type="text"
      formControlName="caseType"
    />
    <div *ngIf="caseTypeInvalid" class="alert alert-danger">
      <span id="caseType-error" class="govuk-error-message">Please select a service</span>
    </div>
  </div>

  <div class="govuk-form-group" *ngIf="displayOverrideSupplier">
    <label class="govuk-label govuk-!-width-one-half" for="conferenceSupplier"> Conference Supplier</label>
    <select id="conferenceSupplier" class="govuk-select govuk-!-width-one-half" formControlName="supplier">
      <option [value]="supplierOptions.Vodafone">Vodafone</option>
    </select>
  </div>

  <div class="govuk-!-padding-bottom-9"></div>

  <div class="sk-top">
    <button
      id="nextButton"
      class="govuk-button vh-mr25"
      data-module="govuk-button"
      (click)="saveHearingDetails()"
      alt="Save hearing details and view hearings schedule"
    >
      {{ buttonAction }}
    </button>
    <button
      id="cancelButton"
      class="govuk-button govuk-button--secondary"
      data-module="govuk-button"
      value="Cancel"
      type="button"
      (click)="confirmCancelBooking()"
      alt="Confirm cancellation of new booking and return to dashboard"
    >
      Cancel
    </button>
  </div>
</form>

<div *ngIf="attemptingCancellation">
  <app-cancel-popup (continueBooking)="continueBooking()" (cancelBooking)="cancelBooking()"> </app-cancel-popup>
</div>

<div *ngIf="attemptingDiscardChanges">
  <app-discard-confirm-popup (continueEditing)="continueBooking()" (cancelChanges)="cancelChanges()"> </app-discard-confirm-popup>
</div>
