// global styles for <a> and <p> tags
$govuk-global-styles: true;

.govuk-error-summary__list a {
  color: govuk-colour('red');
  text-decoration: underline;
}

.sk-top {
  margin-top: 15px;
}

.sk-add-btn {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  font-size: 30px !important;
  text-align: center !important;
}

.sk-add-btn:focus {
  outline: none !important;
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
