<div *ngIf="participant" class="govuk-grid-row container">
  <div class="judge-row" *ngIf="isJudge">
    <div>
      <img
        src="/assets/images/govuk-crest.png"
        height="40"
        width="40"
        class="govuk-header__logotype-crest"
        alt="HM Courts &amp; Tribunals Service crest"
      />
    </div>

    <div class="wrap">
      {{ participant.title === 'Judge' ? '' : participant.title }} {{ participant.display_name }}
      <div>
        <strong>Judge</strong>
      </div>
      <div class="judge-row__email" id="judge-name">{{ participant.email }}</div>
    </div>

    <div *ngIf="isSummaryPage" class="judge-row__actions">
      <a [routerLink]="['/assign-judge']" class="vhlink" (click)="editJudge()">Change</a>
    </div>
  </div>

  <div class="participant-row" *ngIf="!isJudge">
    <div class="interpreter-icon">
      <img
        *ngIf="isInterpreter || isInterpretee"
        src="/assets/images/interpreter.png"
        height="40"
        width="40"
        class="govuk-header__logotype-crest"
        alt="HM Courts &amp; Tribunals Service crest"
      />
    </div>
    <div class="vhtable-header">
      <div class="participant-row__name">{{ participant.title }} {{ participant.first_name }} {{ participant.last_name }}</div>

      <div *ngIf="isRepresentative || isInterpreter; else individual">
        <ng-container *ngIf="isRepresentative">
          <div>{{ participant.hearing_role_name }} for</div>
          <div>
            <strong>{{ participant.representee }}</strong>
          </div>
          <div *ngIf="displayCaseRole">
            {{ participant.case_role_name }}
          </div>
        </ng-container>

        <ng-container *ngIf="isInterpreter">
          <div>Interpreting for</div>
          <div>
            <strong>{{ participant.interpretee_name }}</strong>
          </div>
          <div *ngIf="displayCaseRole">
            {{ participant.case_role_name }}
          </div>
        </ng-container>
      </div>

      <ng-template #individual>
        <div *ngIf="isInterpreter; else otherIndividual">
          <div>Interpreting for</div>
          <div>
            <strong>{{ participant.interpretee_name }}</strong>
          </div>
          <div *ngIf="displayCaseRole">
            {{ participant.case_role_name }}
          </div>
        </div>
        <ng-template #otherIndividual>
          <div>
            {{ participant.hearing_role_name }}
          </div>
          <div *ngIf="displayCaseRole">
            {{ participant.case_role_name }}
          </div>
        </ng-template>
      </ng-template>
    </div>
    <div *ngIf="canEdit" class="participant-row__actions">
      <a class="vhlink" href="javascript:void(0)" (click)="editParticipant(participant)">Edit</a>
      <a class="vhlink" href="javascript:void(0)" (click)="removeParticipant(participant)">Remove</a>
    </div>
  </div>
</div>
