<div class="column-one-half pl-0">
  <a class="govuk-back-link" href="javascript:void(0)" (click)="navigateBack()">Back</a>
</div>

<div *ngIf="hearing != null">
  <div style="float: left;">
    <h1 class="govuk-heading-l" id="hearingNumber">{{hearing.HearingCaseNumber}} </h1>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <div *ngIf="hearing.isCancelled" class="vh-cancelled-booking">{{ hearing.Status }}</div>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <app-hearing-details [hearing]="hearing"></app-hearing-details>
      <div *ngIf="!hearing.isCancelled">
        <input type="button" class="govuk-button vh-mt20 vh-mr-25" value="Edit" role="button" id="edit-button"
          (click)="editHearing()" />
        <input type="button" class="govuk-button vh-mt20 vh-btn-cancel" value="Cancel booking" role="button"
          id="cancel-button" (click)="cancelHearing()" />
      </div>
    </div>
    <div class="govuk-grid-column-one-half vh-top">
      <app-booking-participant-list [participants]="participants" [judges]="judges"
        [vh_officer_admin]="isVhOfficerAdmin">
      </app-booking-participant-list>
    </div>
  </div>
</div>

<div *ngIf="showCancelBooking">
  <app-cancel-booking-popup (cancelBooking)="cancelBooking($event)" (keepBooking)="keepBooking($event)">
  </app-cancel-booking-popup>
</div>