.vh-top {
    vertical-align: top;
}

.vh-mt20{
  margin-top:20px;
}

.vh-mr-25 {
  margin-right: 25px;
}

.vh-btn-cancel {
  color: #ffffff;
  background-color: #b10e1e;
}

.vh-cancelledBooking {
  color: #ffffff;
  background-color: #b10e1e;
  margin-left: 9px;
  padding-top: 3px;
  padding-bottom: 3px;
  width: 50%;
  font-weight: 200;
  text-align: center;
}