<div class="column-one-half pl-0">
  <a class="govuk-back-link" href="javascript:void(0)" (click)="navigateBack()">Back</a>
</div>

<div *ngIf="hearing != null">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div>
        <div class="vh-title">
          <h1 class="govuk-heading-l">
            <app-truncatable-text [id]="'hearingNumber'" [text]="hearing?.case.number" [maxLimit]="50"></app-truncatable-text>
          </h1>
        </div>
        <div class="vh-booking-detail-status">
          <app-booking-status [bookingDetails]="hearing"></app-booking-status>
        </div>
        <div *ngIf="hearing.isCancelled" id="lblCancelledDetails" class="vh-cancelled-reason">{{ hearing.cancelReason }}</div>
      </div>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <app-hearing-details [hearing]="hearing" [participants]="participants" [phoneDetails]="phoneDetails"></app-hearing-details>
    </div>
    <div class="govuk-grid-column-one-half vh-top">
      <app-booking-participant-list
        [hearing]="hearing"
        [participants]="participants"
        [judiciaryParticipants]="judicialMembers"
        [vh_officer_admin]="isVhOfficerAdmin"
      >
      </app-booking-participant-list>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div *ngIf="!hearing.isCancelled">
        <span>
          <button
            *ngIf="!hearing.hasBookingConfirmationFailed && canEditHearing"
            class="govuk-button vh-mt20 vh-mr-25"
            data-module="govuk-button"
            id="edit-button"
            (click)="editHearing()"
          >
            {{ hearing.isMultiDay && this.multiDayBookingEnhancementsEnabled ? 'Edit this day/date only' : 'Edit' }}
          </button>
          <button
            *ngIf="!hearing.hasBookingConfirmationFailed && canEditHearing && this.isMultiDayUpdateAvailable() && !isTotalHearingMoreThanThreshold"
            class="govuk-button vh-mt20 vh-mr-25"
            data-module="govuk-button"
            id="edit-multiple-hearings-button"
            (click)="editMultiDaysOfHearing()"
          >
            Edit this and upcoming days/dates
          </button>
          <button
            *ngIf="!hearing.hasBookingConfirmationFailed && canCancelHearing"
            class="govuk-button vh-mt20 vh-mr-25 vh-btn-cancel"
            data-module="govuk-button"
            id="cancel-button"
            (click)="cancelHearing()"
          >
            Cancel booking
          </button>
        </span>

        <button
          *ngIf="hasBookingConfirmationFailed && canRetryConfirmation && judgeExists"
          data-module="govuk-button"
          class="govuk-button govuk-button--warning"
          id="retry-confirm-button"
          (click)="rebookHearing()"
        >
          Retry booking confirmation
        </button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="showConfirming">
  <app-wait-popup [ConfirmationMode]="true"></app-wait-popup>
</div>
<div *ngIf="showConfirmingFailed">
  <app-confirm-booking-failed-popup (close)="closeConfirmFailed($event)"> </app-confirm-booking-failed-popup>
</div>

<div *ngIf="showCancelBooking">
  <app-cancel-booking-popup
    (cancelSingleDayBooking)="cancelSingleDayBooking($event)"
    (keepBooking)="keepBooking($event)"
    (cancelMultiDayBooking)="cancelMultiDayBooking($event)"
    [isMultiDayCancellationAvailable]="this.isMultiDayUpdateAvailable()"
  >
  </app-cancel-booking-popup>
</div>

<div *ngIf="showCancelBookingFailed">
  <app-cancel-booking-failed-popup (popupClose)="closeCancelFailed()"></app-cancel-booking-failed-popup>
</div>
