<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third" *ngIf="showBooking">
    <a class="vhpanel-link" [routerLink]="['/book-hearing']">
      <div class="vhpanel vhpanel-green" id="bookHearingBtn">
        <h1 class="vhpanel-title">Book a video hearing</h1>
        <div>
          <img alt="Begin booking a new hearing" src="assets/images/bookicon.png" style="width: 64px" />
        </div>
      </div>
    </a>
  </div>
  <div class="govuk-grid-column-one-third" *ngIf="showCheckList">
    <a class="vhpanel-link" [routerLink]="['/questionnaire']">
      <div class="vhpanel vhpanel-blue" id="questionnaireResultsBtn">
        <h1 class="vhpanel-title">Questionnaire results</h1>
        <div>
          <img alt="Begin booking a new hearing" src="assets/images/VHO_questionnaire_icon.png" style="width: 64px" />
        </div>
      </div>
    </a>
  </div>
  <div class="govuk-grid-column-one-third" *ngIf="showCheckList">
    <a class="vhpanel-link" [routerLink]="['/get-audio-file']">
      <div class="vhpanel vhpanel-lightblue" id="getAudioLinkBtn">
        <h1 class="vhpanel-title">Get audio file link</h1>
        <div>
          <img alt="Get the audio file link" src="assets/images/audio_file.png" style="width: 64px" />
        </div>
      </div>
    </a>
  </div>
  <div class="govuk-grid-column-one-third" *ngIf="showCheckList">
    <a class="vhpanel-link" [routerLink]="['/change-password']">
      <div class="vhpanel vhpanel-darkgrey" id="changePasswordBtn">
        <h1 class="vhpanel-title">Change user password</h1>
        <div>
          <img alt="Change the user password" src="assets/images/change-password.png" width="64" />
        </div>
      </div>
    </a>
  </div>
  <div class="govuk-grid-column-one-third" *ngIf="showCheckList">
    <a class="vhpanel-link" [routerLink]="['/delete-participant']">
      <div class="vhpanel vhpanel-pink" id="deleteUserBtn">
        <h1 class="vhpanel-title">Delete user account</h1>
        <div>
          <img alt="Delete participant" src="assets/images/delete-participant.png" width="64" />
        </div>
      </div>
    </a>
  </div>

  <div class="govuk-grid-column-one-third" *ngIf="showCheckList">
    <a class="vhpanel-link" [routerLink]="['/edit-participant-search']">
      <div class="vhpanel vhpanel-blue" id="editUserBtn">
        <h1 class="vhpanel-title">Edit participant name</h1>
        <div>
          <img alt="Edit a participant's name" src="assets/images/edit.png" width="64" />
        </div>
      </div>
    </a>
  </div>
</div>
