<app-unallocated-hearings *ngIf="showWorkAllocation"></app-unallocated-hearings>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third" *ngIf="showBooking">
    <a class="vhpanel-link" [routerLink]="['/book-hearing']">
      <div class="vhpanel vhpanel-green" id="bookHearingBtn">
        <h1 class="vhpanel-title">Book a video hearing</h1>
        <div>
          <fa-icon [icon]="bookHearingIcon" size="4x"></fa-icon>
        </div>
      </div>
    </a>
  </div>

  <div class="govuk-grid-column-one-third" *ngIf="showAudioFileLink">
    <a class="vhpanel-link" [routerLink]="['/get-audio-file']">
      <div class="vhpanel vhpanel-brightpurple" id="getAudioLinkBtn">
        <h1 class="vhpanel-title">Get audio file link</h1>
        <fa-stack size="2x">
          <fa-icon [icon]="getAudioIconBack" stackItemSize="2x"></fa-icon>
          <fa-icon [icon]="getAudioIconFront" aria-hidden="true" class="govuk-bright-purple" stackItemSize="1x"></fa-icon>
        </fa-stack>
      </div>
    </a>
  </div>
  <div class="govuk-grid-column-one-third" *ngIf="showCheckList">
    <a class="vhpanel-link" [routerLink]="['/change-password']">
      <div class="vhpanel vhpanel-darkgrey" id="changePasswordBtn">
        <h1 class="vhpanel-title">Change user password</h1>

        <div>
          <fa-stack size="2x">
            <fa-icon [icon]="changePasswordBackIcon" stackItemSize="2x"></fa-icon>
            <fa-icon [icon]="changePasswordFrontIcon" aria-hidden="true" stackItemSize="1x"></fa-icon>
          </fa-stack>
        </div>
      </div>
    </a>
  </div>
  <div class="govuk-grid-column-one-third" *ngIf="showCheckList">
    <a class="vhpanel-link" [routerLink]="['/delete-participant']">
      <div class="vhpanel vhpanel-pink" id="deleteUserBtn">
        <h1 class="vhpanel-title">Delete user account</h1>
        <div>
          <fa-icon [icon]="deleteUserIcon" size="4x"></fa-icon>
        </div>
      </div>
    </a>
  </div>

  <div class="govuk-grid-column-one-third" *ngIf="showCheckList">
    <a class="vhpanel-link" [routerLink]="['/edit-participant-search']">
      <div class="vhpanel vhpanel-blue" id="editUserBtn">
        <h1 class="vhpanel-title">Edit participant name</h1>
        <div>
          <fa-icon [icon]="editParticipantNameIcon" size="4x"></fa-icon>
        </div>
      </div>
    </a>
  </div>

  <div class="govuk-grid-column-one-third" *ngIf="showWorkAllocation">
    <a class="vhpanel-link" [routerLink]="['/work-allocation']">
      <div class="vhpanel vhpanel-red" id="manageWorkAllocationBtn">
        <h1 class="vhpanel-title">Manage work allocation</h1>
        <div>
          <div>
            <fa-icon [icon]="manageWorkAllocationIcon" size="4x"></fa-icon>
          </div>
        </div>
      </div>
    </a>
  </div>

  <div class="govuk-grid-column-one-third" *ngIf="showManageTeam">
    <a class="vhpanel-link" [routerLink]="['/manage-team']">
      <div class="vhpanel vhpanel-manage-team" id="manageTeamBtn">
        <h1 class="vhpanel-title">Manage Team</h1>
        <div>
          <fa-icon [icon]="manageTeamIcon" size="4x"></fa-icon>
        </div>
      </div>
    </a>
  </div>
</div>
