<app-breadcrumb [canNavigate]="canNavigate"></app-breadcrumb>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <h1 class="govuk-heading-l">{{ constants.BookHearingTitle }}</h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Video access points</h2>

        <div *ngIf="failedValidation" class="govuk-error-summary govuk-!-width-full"
            aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
                Please enter a unique display name
            </h2>
        </div>

        <form [formGroup]="form" (ngSubmit)="saveEndpoints()">
            <div formArrayName="endpoints" *ngFor="let endpoint of endpoints.controls; let i = index">
                <div [formGroupName]="i">
                    <div class="govuk-form-group"
                        [ngClass]="{'has-error': endpoints.controls[i].invalid && endpoints.controls[i].touched }">
                        <label class="govuk-label govuk-!-width-one-half" [attr.for]="'displayNameLabel'+i">
                            Display name
                        </label>
                        <input [id]="'displayName'+i" class="govuk-input govuk-!-width-three-quarters" type="text"
                            formControlName="displayName">
                        <a *ngIf="endpoints.length>1" [id]="'removeDisplayName'+i"
                            class="govuk-link govuk-!-margin-left-2" href="javascript:void(0)"
                            (click)="removeEndpoint(i)">Remove</a>
                    </div>
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-!-width-full" [attr.for]="'defenceAdvocateLabel'+i">
                            Link a defence advocate to this video access point?
                        </label>
                        <select class="govuk-select ddl-width" [id]="'defenceAdvocate'+i"
                            formControlName="defenceAdvocate">
                            <option *ngFor="let da of availableDefenceAdvocates" [ngValue]="da">
                                {{ da.displayName }}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </form>

        <div>
            <button id="addEndpoint" class="govuk-button" data-module="govuk-button" (click)="addEndpoint()"
                alt="Add endpoint" [disabled]="endpoints.invalid"> Add another
            </button>
        </div>
        <div>
            <button id="nextButton" class="govuk-button govuk-!-margin-right-2" data-module="govuk-button"
                alt="Save endpoints" (click)="saveEndpoints()">
                {{ buttonAction }}
            </button>

            <button id="cancelButton" class="govuk-button govuk-button--secondary" data-module="govuk-button"
                (click)="cancelBooking()" alt="Confirm cancellation of new booking and return to dashboard">
                Cancel
            </button>
        </div>
    </div>
    <div class="govuk-grid-column-one-third">
        {{ form.value | json }}
    </div>
</div>
<div *ngIf="attemptingCancellation">
    <app-cancel-popup (continueBooking)="continueBooking($event)" (cancelBooking)="cancelEndpoints($event)">
    </app-cancel-popup>
</div>
<div *ngIf="attemptingDiscardChanges">
    <app-discard-confirm-popup (continueEditing)="continueBooking($event)" (cancelChanges)="cancelChanges()">
    </app-discard-confirm-popup>
</div>