<app-breadcrumb [canNavigate]="canNavigate"></app-breadcrumb>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <h1 class="govuk-heading-l">{{ constants.BookHearingTitle }}</h1>
  </div>
</div>

<div class="govuk-grid-row">
  <!-- Add the endpoint column (left)-->
  <div class="govuk-grid-column-one-half">
    <div class="govuk-!-margin-bottom-5">
      <h2 class="govuk-heading-m">Video Access Points</h2>
      <app-video-endpoint-form
        [existingVideoEndpoint]="videoEndpointToEdit"
        [existingVideoEndpoints]="videoEndpoints"
        [participants]="hearing.participants"
        [availableParticipantPool]="availableReps"
        (endpointAdded)="onEndpointAdded($event)"
        (endpointUpdated)="onEndpointUpdated($event)"
      ></app-video-endpoint-form>
    </div>

    <div class="govuk-button-group">
      <button id="nextButton" type="button" class="govuk-button" data-module="govuk-button" (click)="saveEndpoints()">
        {{ buttonAction }}
      </button>
      <button
        id="cancelButton"
        type="button"
        class="govuk-button govuk-button--secondary"
        data-module="govuk-button"
        (click)="cancelBooking()"
      >
        Cancel
      </button>
    </div>
  </div>
  <!-- Current endpoint list column (column)-->
  <div class="govuk-grid-column-one-half keep-right">
    <app-video-endpoint-list
      [videoEndpoints]="videoEndpoints"
      [canRemove]="!isHearingAboutToStart"
      (editEndpoint)="onEndpointSelectedForEdit($event)"
      (deleteEndpoint)="onEndpointSelectedForDeletion($event)"
    ></app-video-endpoint-list>
  </div>
</div>

<div *ngIf="attemptingCancellation">
  <app-cancel-popup (continueBooking)="continueBooking($event)" (cancelBooking)="cancelEndpoints($event)"> </app-cancel-popup>
</div>
<div *ngIf="attemptingDiscardChanges">
  <app-discard-confirm-popup (continueEditing)="continueBooking($event)" (cancelChanges)="cancelChanges()"> </app-discard-confirm-popup>
</div>
