.vh-expander .chevron {
    display: inline-block;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.vh-expander .chevron::after {
    content: '❯';
}

.vh-expander.expanded .chevron {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(90deg);
}

.vh-header-entity{
  color:#1F71F7;
  font-weight:bold;
  text-decoration:none;
}

.vh-date {
  float: right;
  font-weight:bold;
  margin-bottom: 0px;
}

.rowbottom {
  border-bottom: 1px solid #bfc1c3;
  text-align: left;
  margin-bottom: 10px;
}

.vh-table-row{
  display:table-row;
}

.vh-wrap {
  padding: 0;
  margin-right: 0;
  margin-left: 0;
  overflow-wrap: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.vh-answer-group-heading {
  margin-bottom: 5px;
}
