<div class="vh-top-m30">
  <div class="govuk-grid-row vh-row">
    <div class="govuk-grid-column-two-thirds">
      <a href="javascript:void(0)" (click)="toggle()" class="vh-header-entity govuk-body vh-expander" [class.expanded]="expanded">
        <span class="chevron"></span>
        <span class="vh-ml15">{{ questionnaire.displayName }} - {{questionnaire.hearingRole}} ({{ questionnaire.caseNumber }})</span>
      </a>
    </div>
    <div class="govuk-grid-column-one-third">
      <span class="vh-date">
        {{questionnaire.updated_at |date: 'h:mm a, dd MMMM yyyy'}}
      </span>
    </div>

  </div>
  <div class="rowbottom"></div>

  <div *ngIf="expanded" class="vh-ml15">
    <div class="govuk-grid-row vh-row" *ngFor="let answerGroup of answers">
      <span class="govuk-heading-s ">{{answerGroup.title}}</span>

      <div *ngFor="let answer of answerGroup.answers">
        <div class="govuk-grid-row vh-row">
          <div class="govuk-grid-column-two-thirds">
            <span class="vhtable-cell vh-table-row">{{ answer.question }}</span>
            <span class="govuk-hint vh-table-row">{{answer.notes}}</span>
          </div>
          <div class="govuk-grid-column-one-third">
            <span class="vh-date vh-wrap vh-mr15" >{{ answer.answer }}</span>
          </div>
        </div>

        <div class="rowbottom vh-mr15"></div>

      </div>

    </div>

  </div>
</div>

