.screening-item-container {
  padding: 1em 0;

  .screening-row {
    display: flex;
    align-items: center;

    > div {
      padding-left: 15px;
      flex: 1 auto;
    }

    > div:first-child {
      flex: 0 auto;
    }

    > div:last-child {
      padding-right: 15px;
    }

    justify-content: space-between;

    &__name {
      font-weight: bold;
    }

    &__type {
      font-weight: bold;
    }

    &__actions {
      flex: 0 auto;
      display: flex;
      justify-content: flex-end;
    }
  }
}
