@use 'govuk-frontend/dist/govuk/base' as *;

.screening-list-container {
  display: block;
  border-color: govuk-colour('mid-grey');
  border-width: 1px;
  border-style: solid;
  border-radius: 11px;
  padding: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include govuk-font(19, $weight: 'regular', $tabular: false, $line-height: false);
  color: govuk-colour('black');
}

.screening-item {
  &:not(:last-child) {
    &:after {
      content: '';
      display: block;
      margin-left: -15px;
      width: calc(100% + 30px);
      border-bottom: 1px solid #bfc1c3;
    }
  }
}
