<div id="saveFailedPopup" class="vh-popup-overlay">
  <div class="vh-popup vh-popup-xsmall">
    <h1 class="govuk-heading-m vh-ml70 vh-mr70">Are you sure you want to cancel this booking?</h1>

    <div class="content">
      <div class="govuk-grid-row">
        <div class="vh-top">
          <input type="button" id="btnCancelBooking" class="govuk-button" role="button" value="Cancel booking"
            style="margin-right:25px;" (click)="cancelHearing()" alt="Cancel the booking" />
          <input type="button" id="btnKeepBooking" class="govuk-button hmcts-button--secondary" role="button"
            value="Keep booking" (click)="keepHearing()" alt="Keep the booking" />
        </div>
      </div>
    </div>
  </div>
</div>