<div id="saveFailedPopup" class="vh-popup-overlay">
  <div class="vh-popup vh-popup-xsmall">
    <h1 class="govuk-heading-m vh-ml70 vh-mr70">Are you sure you want to cancel this booking?</h1>

    <div class="content">
      <div class="govuk-grid-row">
        <div class="vh-top">
          <button id="btnCancelBooking" class="govuk-button vh-mr25" data-module="govuk-button"
                  (click)="cancelHearing()" alt="Cancel the booking">
          Cancel booking</button>
          <button id="btnKeepBooking" class="govuk-button hmcts-button--secondary" data-module="govuk-button"
                  (click)="keepHearing()" alt="Keep the booking">
          Keep booking</button>
        </div>
      </div>
    </div>
  </div>
</div>
