.float-left {
  float: left;
}

.clear-both {
  clear: both;
}

.margin-bottom-22 {
  margin-bottom: 22px;
}

.vh-pl0 {
  padding-left: 0 !important;
  width: 20% !important;
}

.vh-20 {
  width: 20% !important;
}

.vh-btn {
  vertical-align: middle !important;
}
