<app-breadcrumb [canNavigate]="schedulingForm.valid && hasSaved"></app-breadcrumb>

<h2 class="govuk-heading-l">Book a video hearing</h2>

<h3 class="govuk-heading-m">Time and location</h3>

<form [formGroup]="schedulingForm" class="govuk-form-group" (ngSubmit)="saveScheduleAndLocation()">
  <div [ngClass]="hearingDateInvalid ? 'govuk-form-group--error' : 'govuk-form-group'">
    <label class="govuk-label govuk-!-width-one-quarter" for="hearingDate">
      Date of hearing
    </label>
    <input id="hearingDate" class="govuk-input govuk-!-width-one-quarter" type="date" formControlName="hearingDate"
           required placeholder="e.g. 30/02/2018" min="{{today | date:'yyyy-MM-dd'}}">
    <div *ngIf="hearingDateInvalid" class="alert alert-danger">
      <span id="hearingDate-error" class="govuk-error-message">
        Please enter a date in the future
      </span>
    </div>
  </div>

  <div [ngClass]="hearingStartTimeHourInvalid || hearingStartTimeMinuteInvalid ? 'govuk-form-group--error' : 'govuk-form-group'">
    <label class="govuk-label govuk-!-width-one-half" for="hearingStartTime">
      Hearing start time (use the 24 hour clock)
    </label>
    <fieldset class="govuk-fieldset" aria-describedby="stahint" role="group">
      <div class="govuk-date-input" id="hearingStartTimeHour">
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="hearingStartTimeHour" name="hearingStartTimeHour"
                   type="number" min="0" max="23" placeholder="HH" formControlName="hearingStartTimeHour">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <input class="govuk-input govuk-date-input__input govuk-input--width-2 minutes" id="hearingStartTimeMinute" name="hearingStartTimeMinute"
                   type="number" min="0" max="59" placeholder="MM" formControlName="hearingStartTimeMinute">
          </div>
        </div>
      </div>
    </fieldset>
    <div *ngIf="hearingStartTimeHourInvalid" class="alert alert-danger">
      <span id="hearingStartTimeHour-error" class="govuk-error-message">
        Provide a value for start hour between 0 and 23
      </span>
    </div>
    <div *ngIf="hearingStartTimeMinuteInvalid" class="alert alert-danger">
      <span id="hearingStartTimeMinute-error" class="govuk-error-message">
        Provide a value for start minutes between 0 and 59
      </span>
    </div>
  </div>

  <div [ngClass]="hearingDurationHourInvalid || hearingDurationMinuteInvalid ? 'govuk-form-group--error' : 'govuk-form-group'">
    <label class="govuk-label govuk-!-width-one-half" for="hearingDuration">
      Duration
    </label>
    <fieldset class="govuk-fieldset" aria-describedby="stahint" role="group">
      <div class="govuk-date-input" id="hearingDurationHour">
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="hearingDurationHour" name="hearingDurationHour"
                   type="number" placeholder="00" min="0" max="23" formControlName="hearingDurationHour">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="hearingDurationMinute" name="hearingDurationMinute"
                   type="number" placeholder="45" min="0" max="59" formControlName="hearingDurationMinute">
          </div>
        </div>
      </div>
    </fieldset>
    <div *ngIf="hearingDurationHourInvalid" class="alert alert-danger">
      <span id="hearingDurationHour-error" class="govuk-error-message">
        Provide a value for duration hour between 0 and 23
      </span>
    </div>
    <div *ngIf="hearingDurationMinuteInvalid" class="alert alert-danger">
      <span id="hearingDurationMinute-error" class="govuk-error-message">
        Provide a value for duration minutes between 0 and 59
      </span>
    </div>
  </div>

  <div [ngClass]="courtAddressInvalid ? 'govuk-form-group--error' : 'govuk-form-group'">
    <label class="govuk-label govuk-!-width-one-half" for="courtAddress">
      Hearing venue
    </label>
    <select class="govuk-select govuk-!-width-one-half" id="courtAddress" formControlName="courtAddress">
      <option *ngFor="let court of availableCourts" [ngValue]="court.id">{{court.address}} </option>
    </select>
    <div *ngIf="courtAddressInvalid" class="alert alert-danger">
      <span id="courtAddress-error" class="govuk-error-message">
        Please select a hearing venue
      </span>
    </div>
  </div>

  <div class="govuk-form-group">
    <label class="govuk-label" for="court-room">
      Room
    </label>
    <input class="govuk-input govuk-!-width-one-half" id="court-room" name="coort-room" type="text" formControlName="courtRoom">
  </div>
  

  <div class="sk-top">
    <input type="button" id="nextButton" class="govuk-button" role="button" value="Next" style="margin-right:25px;"
           (click)="saveScheduleAndLocation()" alt="Save hearing schedule and location details and go to judge assignment" />
    <input type="button" id="cancelButton" class="govuk-button hmcts-button--secondary" role="button" value="Cancel"
           (click)="confirmCancelBooking()" alt="Confirm cancellation of new booking and return to dashboard" />
  </div>

</form>

<div *ngIf="attemptingCancellation">
  <app-cancel-popup (continueBooking)="continueBooking($event)" (cancelBooking)="cancelBooking($event)"></app-cancel-popup>
</div>
