<app-breadcrumb [canNavigate]="form.valid && hasSaved"></app-breadcrumb>

<h1 class="govuk-heading-l">Book a video hearing</h1>

<h2 class="govuk-heading-m">Time and location</h2>

<form [formGroup]="form" class="govuk-form-group" (ngSubmit)="save()">
  <div class="govuk-form-group govuk-!-width-one-quarter" *ngIf="!isBookedHearing">
    <div class="govuk-checkboxes__item">
      <input
        #checkBoxMulti
        class="govuk-checkboxes__input"
        id="multiDaysHearing"
        name="multiDaysHearing"
        type="checkbox"
        formControlName="multiDays"
      />
      <label class="govuk-label govuk-checkboxes__label" for="multiDaysHearing"> Multi-day hearing </label>
    </div>
  </div>

  <div *ngIf="!multiDaysHearing" class="vh-bottom-m">
    <div [ngClass]="hearingDateInvalid ? 'govuk-form-group--error' : 'govuk-form-group'">
      <label class="govuk-label govuk-!-width-one-quarter" for="hearingDate"> Date of hearing </label>
      <input
        id="hearingDate"
        class="govuk-input govuk-!-width-one-quarter"
        type="date"
        formControlName="hearingDate"
        required
        placeholder="e.g. 30/02/2018"
        min="{{ today | date: 'yyyy-MM-dd' }}"
        (blur)="resetPastTimeOnBlur()"
      />
      <div *ngIf="hearingDateInvalid">
        <div *ngIf="hearingDateControl.errors?.required" class="alert alert-danger">
          <span id="hearingDate-required-error" class="govuk-error-message"> Select a date </span>
        </div>
        <div *ngIf="hearingDateControl.errors?.weekend || hearingDateControl.errors?.publicHoliday" class="alert alert-danger">
          <span id="hearingDate-weekend-error" class="govuk-error-message">Please enter a working day (Monday to Friday) </span>
        </div>
        <div *ngIf="hearingDateControl.errors?.pastdate" class="alert alert-danger">
          <span id="hearingDate-past-error" class="govuk-error-message"> Select a date in the future </span>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="multiDaysHearing" class="vh-bottom-m">
    <div class="govuk-radios__item">
      <input formControlName="multiDaysRange" class="govuk-radios__input" id="multiDaysRange-choice-no" type="radio" [value]="true" />
      <label class="govuk-label govuk-radios__label" for="audio-choice-yes"> Select start and end dates </label>
    </div>

    <div class="multi-date-select range" *ngIf="multiDaysRangeControl.value">
      <div [ngClass]="hearingDateInvalid ? 'govuk-form-group--error' : 'govuk-form-group'">
        <label class="govuk-label govuk-!-width-one-quarter" for="hearingDate"> Start of hearing </label>
        <input
          id="hearingDate"
          class="govuk-input govuk-!-width-one-quarter"
          type="date"
          formControlName="hearingDate"
          required
          placeholder="e.g. 30/02/2018"
          min="{{ today | date: 'yyyy-MM-dd' }}"
          (blur)="resetPastTimeOnBlur()"
        />
        <div *ngIf="hearingDateControl.errors?.required" class="alert alert-danger">
          <span id="hearingDateRequired-error" class="govuk-error-message"> Select a date </span>
        </div>
        <div *ngIf="hearingDateControl.errors?.weekend || hearingDateControl.errors?.publicHoliday" class="alert alert-danger">
          <span id="hearingDateHoliday-error" class="govuk-error-message">Please enter a working day (Monday to Friday) </span>
        </div>
        <div *ngIf="hearingDateControl.errors?.pastdate" class="alert alert-danger">
          <span id="hearingDatePast-error" class="govuk-error-message"> Select a date in the future </span>
        </div>
      </div>

      <div [ngClass]="endHearingDateInvalid ? 'govuk-form-group--error' : 'govuk-form-group'">
        <label class="govuk-label govuk-!-width-one-quarter" for="endHearingDate"> End of hearing </label>
        <input
          id="endHearingDate"
          class="govuk-input govuk-!-width-one-quarter"
          type="date"
          formControlName="endHearingDate"
          required
          placeholder="e.g. 30/02/2018"
          min="{{ today | date: 'yyyy-MM-dd' }}"
        />
        <div *ngIf="endHearingDateInvalid" class="alert alert-danger">
          <div *ngIf="endHearingDateControl.errors?.required" class="alert alert-danger">
            <span id="endHearingDateRequired-error" class="govuk-error-message"> Select a date </span>
          </div>
          <div *ngIf="endHearingDateControl.errors?.weekend || endHearingDateControl.errors?.publicHoliday" class="alert alert-danger">
            <span id="endHearingDateWeekend-error" class="govuk-error-message">Please enter a working day (Monday to Friday) </span>
          </div>
          <div *ngIf="endHearingDateControl.errors?.pastdate || endHearingDateInvalid" class="alert alert-danger">
            <span id="endHearingDatePast-error" class="govuk-error-message">
              Select a date in the future at least 1 day later than the start date
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="govuk-radios__item individual-date-radio">
      <input formControlName="multiDaysRange" class="govuk-radios__input" id="multiDaysRange-choice-yes" type="radio" [value]="false" />
      <label class="govuk-label govuk-radios__label" for="audio-choice-no"> Select individual dates </label>
    </div>

    <div class="multi-date-selection" *ngIf="!multiDaysRangeControl.value">
      <div *ngIf="hearingDates.length > 0" class="multi-date-selection__list govuk-!-width-one-half">
        <div class="multi-date-selection__list-item" *ngFor="let date of hearingDates; index as i">
          <div class="multi-date-selection__date">
            {{ date | date: 'EEEE dd MMMM yyyy' }}
          </div>
          <a class="vhlink" href="javascript:void(0)" (click)="removeHearingDate(i)">Remove</a>
        </div>
      </div>

      <div
        *ngIf="addHearingDateControl"
        class="govuk-form-group multi-date-selection__input"
        [class.govuk-form-group--error]="!isAddHearingControlValid()"
      >
        <input
          id="hearingDate"
          class="govuk-input govuk-!-width-one-quarter"
          type="date"
          [formControl]="addHearingDateControl"
          placeholder="e.g. 30/02/2018"
          min="{{ today | date: 'yyyy-MM-dd' }}"
          (blur)="resetPastTimeOnBlur()"
          (change)="hearingDateChanged($event)"
        />

        <div *ngIf="addHearingDateControl.errors?.required" class="alert alert-danger">
          <span id="hearingDateWeekend-error" class="govuk-error-message"> Select a date </span>
        </div>

        <div *ngIf="addHearingDateControl.errors?.weekend || addHearingDateControl.errors?.publicHoliday" class="alert alert-danger">
          <span id="hearingDateWeekend-error" class="govuk-error-message"> Please enter a working day (Monday to Friday) </span>
        </div>

        <div *ngIf="addHearingDateControl.errors?.pastdate" class="alert alert-danger">
          <span id="hearingDateWeekend-error" class="govuk-error-message"> Select a date in the future </span>
        </div>

        <div *ngIf="isDateAlreadySelected()" class="alert alert-danger">
          <span id="hearingDateWeekend-error" class="govuk-error-message"> Date already selected </span>
        </div>
      </div>

      <div *ngIf="!addHearingDateControl" class="multi-date-selection__add-button">
        <button class="govuk-button vh-mr25" (click)="addHearingDate()" type="button">Add hearing date</button>
      </div>
    </div>
  </div>

  <div
    [ngClass]="
      hearingStartTimeHourInvalid || hearingStartTimeMinuteInvalid || isStartHoursInPast || isStartMinutesInPast
        ? 'govuk-form-group--error'
        : 'govuk-form-group'
    "
  >
    <label class="govuk-label govuk-!-width-one-half" for="hearingStartTime"> Hearing start time (use the 24 hour clock) </label>
    <fieldset class="govuk-fieldset" aria-describedby="hearingStartTimeHour" role="group">
      <legend></legend>
      <div class="govuk-date-input">
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <input
              class="govuk-input govuk-date-input__input govuk-input--width-2"
              id="hearingStartTimeHour"
              name="hearingStartTimeHour"
              type="number"
              min="0"
              max="23"
              placeholder="HH"
              formControlName="hearingStartTimeHour"
              title="hearingStartTimeHour"
              aria-label="hearingStartTimeHour"
              aria-labelledby="hearingStartTimeHour"
              (blur)="startHoursInPast()"
            />
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <input
              class="govuk-input govuk-date-input__input govuk-input--width-2 minutes"
              id="hearingStartTimeMinute"
              name="hearingStartTimeMinute"
              type="number"
              min="1"
              max="59"
              placeholder="MM"
              title="hearingStartTimeMinute"
              formControlName="hearingStartTimeMinute"
              aria-label="hearingStartTimeMinute"
              aria-labelledby="hearingStartTimeMinute"
              (blur)="startMinutesInPast()"
            />
          </div>
        </div>
      </div>
    </fieldset>
    <div *ngIf="hearingStartTimeHourInvalid" class="alert alert-danger">
      <span id="hearingStartTimeHour-error" class="govuk-error-message"> Provide a value for start hour between 0 and 23 </span>
    </div>
    <div *ngIf="hearingStartTimeMinuteInvalid" class="alert alert-danger">
      <span id="hearingStartTimeMinute-error" class="govuk-error-message"> Provide a value for start minutes between 0 and 59 </span>
    </div>
    <div *ngIf="isStartMinutesInPast || isStartHoursInPast" class="alert alert-danger">
      <span id="hearingTime-error" class="govuk-error-message"> Please enter a time in the future </span>
    </div>
  </div>

  <div *ngIf="!multiDaysHearing" class="vh-bottom-m">
    <div
      [ngClass]="
        hearingDurationHourInvalid || hearingDurationMinuteInvalid || durationInvalid ? 'govuk-form-group--error' : 'govuk-form-group'
      "
    >
      <label class="govuk-label govuk-!-width-one-half" for="hearingDuration"> Duration </label>
      <fieldset class="govuk-fieldset" aria-describedby="hearingDurationHour" role="group">
        <legend></legend>
        <div class="govuk-date-input">
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <input
                class="govuk-input govuk-date-input__input govuk-input--width-2"
                id="hearingDurationHour"
                name="hearingDurationHour"
                type="number"
                placeholder="00"
                min="0"
                max="23"
                title="hearingDurationHour"
                formControlName="hearingDurationHour"
                aria-label="hearingDurationHour"
                aria-labelledby="hearingDurationHour"
                [required]="'{multiDays}'"
              />
            </div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <input
                class="govuk-input govuk-date-input__input govuk-input--width-2"
                id="hearingDurationMinute"
                name="hearingDurationMinute"
                type="number"
                placeholder="45"
                min="0"
                max="59"
                title="hearingDurationMinute"
                formControlName="hearingDurationMinute"
                aria-label="hearingDurationMinute"
                aria-labelledby="hearingDurationMinute"
                [required]="'{multiDays}'"
              />
            </div>
          </div>
        </div>
      </fieldset>
      <div *ngIf="hearingDurationHourInvalid" class="alert alert-danger">
        <span id="hearingDurationHour-error" class="govuk-error-message"> Provide a value for duration hour between 0 and 23 </span>
      </div>
      <div *ngIf="hearingDurationMinuteInvalid" class="alert alert-danger">
        <span id="hearingDurationMinute-error" class="govuk-error-message"> Provide a value for duration minutes between 0 and 59 </span>
      </div>
      <div *ngIf="durationInvalid" class="alert alert-danger">
        <span id="duration-error" class="govuk-error-message"> Duration cannot be zero </span>
      </div>
    </div>
  </div>

  <div [ngClass]="courtAddressInvalid ? 'govuk-form-group--error' : 'govuk-form-group'">
    <label class="govuk-label govuk-!-width-one-half" for="courtAddress"> Hearing venue </label>
    <select class="govuk-select govuk-!-width-one-half" id="courtAddress" formControlName="courtAddress">
      <option *ngFor="let venue of availableCourts" [ngValue]="venue.id">{{ venue.name }}</option>
    </select>
    <div *ngIf="courtAddressInvalid" class="alert alert-danger">
      <span id="courtAddress-error" class="govuk-error-message"> Please select a hearing venue </span>
    </div>
  </div>

  <div [ngClass]="courtRoomInvalid ? 'govuk-form-group--error' : 'govuk-form-group'">
    <label class="govuk-label" for="court-room"> Room </label>
    <input
      class="govuk-input govuk-!-width-one-half"
      id="court-room"
      name="court-room"
      type="text"
      formControlName="courtRoom"
      (blur)="courtRoomOnBlur()"
    />
    <div *ngIf="courtRoomInvalid" class="alert alert-danger">
      <span id="courtRoom-error" class="govuk-error-message"> Please enter a valid court room </span>
    </div>
  </div>

  <div class="sk-top">
    <button
      id="nextButton"
      class="govuk-button vh-mr25"
      data-module="govuk-button"
      (click)="save()"
      type="button"
      alt="Save hearing schedule and location details and go to judge assignment"
    >
      {{ buttonAction }}
    </button>
    <button
      id="cancelButton"
      class="govuk-button hmcts-button--secondary"
      data-module="govuk-button"
      (click)="confirmCancelBooking()"
      type="button"
      alt="Confirm cancellation of new booking and return to dashboard"
    >
      Cancel
    </button>
  </div>
</form>

<div *ngIf="attemptingCancellation">
  <app-cancel-popup (continueBooking)="continueBooking($event)" (cancelBooking)="cancelBooking($event)"> </app-cancel-popup>
</div>

<div *ngIf="attemptingDiscardChanges">
  <app-discard-confirm-popup (continueEditing)="continueBooking($event)" (cancelChanges)="cancelChanges()"> </app-discard-confirm-popup>
</div>
