<app-breadcrumb [canNavigate]="true"></app-breadcrumb>
<h1 class="govuk-heading-l">Book a video hearing</h1>

<!-- display form when adding a judge, capture the emitted judge and add to the dto/view model -->
<!-- <app-add-judicial-presiding-judge-form (judgeAdded)="addPresidingJudge($event)"></app-add-judicial-presiding-judge-form> -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <div *ngIf="!judgeAssigned">
      <h2 class="govuk-heading-m">Assign a judicial office holder</h2>
      <app-search-for-judicial-member (judicialMemberSelected)="addPresidingJudge($event)"></app-search-for-judicial-member>
    </div>

    <div *ngIf="judicialOfficeHolders.length > 0">
      <h2 class="govuk-heading-m">Add another Judicial Office Holder</h2>
      <app-search-for-judicial-member (judicialMemberSelected)="addPanelMember($event)"></app-search-for-judicial-member>

      <div>
        <img src="assets/images/AddIcon.png" alt="Add icon with sign plus" />
        <span class="vh-vert-top-m15">
          <a
            href="javascript:void(0)"
            (click)="displayPanelMember = true"
            type="submit"
            id="addParticipantBtn"
            class="govuk-link govuk-body"
          >
            Add another Judicial Office Holder
          </a>
        </span>
      </div>
    </div>
  </div>
  <div class="govuk-grid-column-one-half" *ngIf="hearing?.judiciaryParticipants?.length">
    <app-participant-list [hearing]="hearing" [isSummaryPage]="false" [canEdit]="false"></app-participant-list>
  </div>
</div>

<!-- display form when adding panel member. capture the emitted panel member and add to the dto/view model-->
<!-- <app-add-judicial-office-holders (panelMemberAdded)="addPanelMember($event)"> </app-add-judicial-office-holders> -->
