<app-breadcrumb [canNavigate]="true"></app-breadcrumb>
<h1 class="govuk-heading-l">Book a video hearing</h1>

<!-- display form when adding a judge, capture the emitted judge and add to the dto/view model -->
<!-- <app-add-judicial-presiding-judge-form (judgeAdded)="addPresidingJudge($event)"></app-add-judicial-presiding-judge-form> -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <div class="govuk-!-margin-bottom-5">
      <!-- add a presiding judge -->
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m">Assign a presiding judge</h2>
        <app-search-for-judicial-member (judicialMemberSelected)="addPresidingJudge($event)"></app-search-for-judicial-member>
      </div>

      <!-- add a panel member -->
      <div class="govuk-grid-column-full govuk-!-padding-top-6">
        <span>
          <h2 class="govuk-heading-m">Add a Judicial Office Holder</h2>
          <app-search-for-judicial-member (judicialMemberSelected)="addPanelMember($event)"></app-search-for-judicial-member>
        </span>
        <!-- <div>
          <img (click)="displayPanelMember = true" src="assets/images/AddIcon.png" alt="Add an additional judicial office holder button" />
          <span class="vh-vert-top-m15">
            <a
              href="javascript:void(0)"
              (click)="displayPanelMember = true"
              type="submit"
              id="addParticipantBtn"
              class="govuk-link govuk-body"
            >
              Add another Judicial Office Holder
            </a>
          </span>
        </div> -->
      </div>
    </div>
  </div>
  <div class="govuk-grid-column-one-half keep-right">
    <app-participant-list [hearing]="hearing" [isSummaryPage]="false" [canEdit]="true"></app-participant-list>
  </div>
</div>

<div class="vh-top govuk-grid-column-full">
  <button id="nextButtonToParticipants" class="govuk-button" data-module="govuk-button" (click)="continueToNextStep()">Next</button>
</div>

<!-- display form when adding panel member. capture the emitted panel member and add to the dto/view model-->
<!-- <app-add-judicial-office-holders (panelMemberAdded)="addPanelMember($event)"> </app-add-judicial-office-holders> -->
