<app-breadcrumb [canNavigate]="true"></app-breadcrumb>
<h1 class="govuk-heading-l">Book a video hearing</h1>

<h2 class="govuk-heading-m">Assign a judicial office holder</h2>

<!-- display form when adding a judge, capture the emitted judge and add to the dto/view model -->
<!-- <app-add-judicial-presiding-judge-form (presidingJudgeAdded)="addPresidingJudge($event)"></app-add-judicial-presiding-judge-form> -->

<!-- display form when adding panel member. capture the emitted panel member and add to the dto/view model-->
<!-- <app-add-judicial-office-holders (panelMemberAdded)="addPanelMember($event)"> </app-add-judicial-office-holders> -->
