<h2 class="govuk-heading-m remove-header-padding" id="bookingDetailsTitle">Booking details</h2>
<div class="govuk-panel govuk-panel--confirmation vh-panel">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      <div class="vh-xsml">Created by:</div>
    </div>
    <div class="govuk-grid-column-three-quarters vh-xsml">
      <div class="govuk-grid-row vh_panel-r">
        <div class="vh-xsml" id="created-by">
          <strong>{{ hearing?.createdBy }}</strong>
        </div>
      </div>
      <div class="govuk-grid-row vh-b">
        <div class="vh-xsml" id="created-date">{{ hearing?.createdDate | appLongDatetime }}</div>
      </div>
    </div>
  </div>
  <div class="govuk-grid-row" *ngIf="hearing?.updatedBy && hearing?.updatedBy.length > 0">
    <div class="govuk-grid-column-one-quarter">
      <span class="vh-xsml">Last edited by:</span>
    </div>
    <div class="govuk-grid-column-three-quarters vh-xsml">
      <div class="govuk-grid-row vh_panel-r">
        <div class="vh-xsml" id="last-edit-by">
          <strong>{{ hearing?.updatedBy }}</strong>
        </div>
      </div>
      <div class="govuk-grid-row" [ngClass]="{ 'vh-b': hearing?.confirmedBy && hearing?.confirmedBy.length > 0 }">
        <div class="vh-xsml" id="last-edit-date">{{ hearing?.updatedDate | appLongDatetime }}</div>
      </div>
    </div>
  </div>
  <div class="govuk-grid-row" *ngIf="hearing?.confirmedBy && hearing?.confirmedBy.length > 0">
    <div class="govuk-grid-column-one-quarter">
      <span class="vh-xsml">Confirmed by:</span>
    </div>
    <div class="govuk-grid-column-three-quarters vh-xsml">
      <div class="govuk-grid-row vh_panel-r">
        <div class="vh-xsml" id="confirmed-by">
          <strong>{{ hearing?.confirmedBy }}</strong>
        </div>
      </div>
      <div class="govuk-grid-row" [ngClass]="{ 'vh-b': hearing?.confirmedDate }">
        <div class="vh-xsml" id="confirmed-date">{{ hearing?.confirmedDate | appLongDatetime }}</div>
      </div>
    </div>
  </div>
  <div id="hearing-allocated-to" class="govuk-grid-row" *ngIf="hearing?.allocatedTo && hearing?.allocatedTo.length">
    <div class="govuk-grid-column-one-quarter">
      <span class="vh-xsml">Allocated to:</span>
    </div>
    <div class="govuk-grid-column-three-quarters vh-xsml">
      <div class="govuk-grid-row vh_panel-r">
        <div class="vh-xsml" id="allocated-to">
          <strong>{{ hearing?.allocatedTo }}</strong>
        </div>
      </div>
    </div>
  </div>
</div>

<h2 class="govuk-heading-s remove-header-padding">Hearing details</h2>
<div class="vh-section">
  <div class="govuk-grid-row vh-wrap">
    <div class="govuk-body vh-sml">
      <app-truncatable-text [id]="'hearing-number'" [text]="hearing?.case.number" [maxLimit]="50"></app-truncatable-text>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-body vh-sml">
      <app-truncatable-text [id]="'hearing-name'" [text]="hearing?.case.name" [maxLimit]="50"></app-truncatable-text>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-body vh-sml" id="case-type">{{ hearing?.caseType }}</div>
  </div>
</div>

<div *ngIf="hearing.isCreated">
  <h2 class="govuk-heading-s remove-header-padding">Joining by phone / Video Hearing link</h2>
  <div class="vh-section">
    <div *ngIf="phoneConferenceDetails.length > 0" class="govuk-grid-row">
      <div class="govuk-grid-column-full" id="conferencePhoneDetails">
        <app-copy-conference-phone [phoneConferenceDetails]="phoneConferenceDetails"></app-copy-conference-phone>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full" id="quickLinkDetails">
        <app-copy-join-link [quickLinkDetails]="hearing?.HearingId"></app-copy-join-link>
      </div>
    </div>
  </div>
</div>

<h2 class="govuk-heading-s remove-header-padding">Hearing schedule</h2>
<div class="vh-section">
  <div class="govuk-grid-row vh-wrap">
    <div class="govuk-body vh-sml" id="hearing-start">
      {{ hearing?.scheduledDateTime | appLongDatetime }}
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-body vh-sml" id="court-room-address">
      {{ hearing?.courtName }}{{ hearing?.courtRoom ? ', ' + hearing?.courtRoom : '' }}
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-body vh-sml" id="duration">listed for {{ hearing.durationInHoursAndMinutes }}</div>
  </div>
</div>

<h2 class="govuk-heading-s remove-header-padding">Audio to be recorded</h2>
<div class="govuk-form-group vhtable">
  <div class="govuk-body vh-text-break" id="audioRecorded">{{ hearing?.audioRecordingRequired ? 'Yes' : 'No' }}</div>
</div>

<div *ngIf="hearing?.endpoints && hearing?.endpoints.length > 0">
  <h2 class="govuk-heading-s remove-header-padding">Video access points</h2>
  <div class="govuk-form-group vhtable">
    <div *ngFor="let endpoint of hearing?.endpoints; let i = index" id="displayNameRow{{ +i }}" class="govuk-body vh-text-break">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full" id="displayName{{ +i }}">
          {{ endpoint.displayName }}
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <ng-container *ngIf="endpoint?.interpretationLanguage?.interpreterRequired">
            <div class="participant-row__lang">
              {{ endpoint.interpretationLanguage.spokenLanguageCodeDescription ?? endpoint.interpretationLanguage.signLanguageDescription }}
            </div>
          </ng-container>

          <ng-container *ngIf="endpoint.screening">
            <app-screening-enabled-badge [screening]="endpoint.screening"></app-screening-enabled-badge>
          </ng-container>
        </div>
      </div>
      <div *ngIf="getDefenceAdvocateByContactEmail(endpoint.defenceAdvocate)" class="govuk-grid-row">
        <div class="govuk-grid-column-full" id="defenceAdvocateRep{{ +i }}">
          <img src="/assets/images/link.png" class="icon" alt="link to endpoint" />
          {{ getDefenceAdvocateByContactEmail(endpoint.defenceAdvocate) }}
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full" id="sip{{ +i }}">
          <app-copy-sip [endpoint]="endpoint"></app-copy-sip>
        </div>
      </div>
    </div>
  </div>
</div>

<h2 class="govuk-heading-s remove-header-padding">Other information</h2>
<div class="govuk-form-group vhtable">
  <div class="govuk-body vh-text-break" id="otherInformation">{{ getOtherInformationText() }}</div>
</div>
