.govuk-panel--confirmation {
    background: #f7f7f7;
    color: #000000 !important;
    padding: 5px;
    border: 1px solid #e9e7e7;
}

.govuk-heading-m {
    margin-bottom: 0;
}

.govuk-heading-s {
    margin-bottom: 0;
    margin-top: 20px;
}

.vh-xsml {
    font-size: 14px;
    float: left;
    padding: 0;
    margin: 0;
}

.vh-b {
    padding-bottom: 20px;
}

.vh-sml {
    float: left;
    padding: 0;
    margin: 0 0 0 10px;
}

.vh-section {
    padding-left: 5px;
}

div {
    word-break: break-all;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.vh_panel-r {
   margin-right:10px !important;
   text-align:left !important;
}

.vh-text-break {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.vh-remove-padding {
    margin-bottom: 1px;
}

.icon {
    width: 16px;
    height: 16px;
}