<div id="removePopup" class="vh-popup-overlay">
  <div class="vh-popup vh-popup-xsmall">
    <h1 class="govuk-heading-m vh-ml70 vh-mr70">Are you sure you want to remove {{ fullName }} from the hearing booking?</h1>
    <div class="govuk-grid-row">
      <div class="vh-top-m30">
        <button id="btn-remove" class="govuk-button vh-mr25" data-module="govuk-button" type="submit" (click)="continueRemoveParticipant()">
          Yes, remove participant
        </button>
        <button
          id="btn-cancel"
          class="govuk-button hmcts-button--secondary"
          data-module="govuk-button"
          type="submit"
          (click)="cancelRemoveParticipant()"
        >
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
