<div id="cancelPopup" class="popup-overlay">
    <div class="popup popup-small" style="text-align: center;">
        <h1 class="govuk-heading-m">There are unsaved changes.</h1>
        <div class="content">
            <h1 class="govuk-heading-m"> {{message}}</h1>
            <div class="govuk-grid-row">
                <div class="vh-top">
                    <input id="btncancel" class="govuk-button hmcts-button--secondary vh-mr" type="submit" value="Continue editing" (click)="continueAddParticipant()">
                    <input id="btnsubmit" class="govuk-button" type="submit" value="Discard changes" (click)="cancelBookingHearing()">
                </div>
            </div>
        </div>
    </div>
</div>
