$govuk-suppressed-warnings: ('govuk-typography-scale-14');

@import 'govuk-frontend/dist/govuk/index';
@import '@ministryofjustice/frontend/moj/all';
@import '@ng-select/ng-select/themes/default.theme.css';

body {
  font-family: 'nta', Arial, sans-serif;
}

.break-all {
  word-break: break-all;
}

.vh-tooltip {
  @include govuk-font(16, $weight: 'regular', $tabular: false, $line-height: false);
  color: govuk-colour('white');
  width: auto;
  height: auto;
  z-index: 999;
  box-shadow: 0 7px 11px 0px rgba(0, 0, 0, 0.3);
  background: govuk-colour('blue');
  border: 1px solid govuk-colour('blue');
  border-radius: 2px;
  position: absolute;
  top: 127px;
  left: 42px;
  padding: 8px;
  display: none;
  opacity: 1;
  pointer-events: none;
  word-break: break-all;
}

.vh-tooltip-blue {
  background: govuk-colour('blue');
  border: 1px solid govuk-colour('blue');
}

.vh-tooltip-red {
  background: govuk-colour('red');
  border: 1px solid govuk-colour('red');
}

.vh-tooltip-grey {
  background: govuk-colour('dark-grey');
  border: 1px solid govuk-colour('dark-grey');
}

.vh-tooltip-green {
  background: govuk-colour('green');
  border: 1px solid govuk-colour('green');
}

.vh-tooltip-yellow {
  background: govuk-colour('yellow');
  border: 1px solid govuk-colour('yellow') !important;
  color: govuk-colour('black');
}

.vh-tooltip-show {
  display: block;
  pointer-events: none;
}

.vh-popup-aligned {
  margin: 70px auto;
  padding: 30px;
  background: #fff;
  border-radius: 0px;
  width: 50%;
  position: relative;
  transition: all 2s ease-in-out;
  max-width: 560px !important;
  max-height: 80vh;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: govuk-colour('white');
  }

  &::-webkit-scrollbar-thumb {
    background: govuk-colour('mid-grey');
  }

  &::-webkit-scrollbar-thumb:hover {
    background: govuk-colour('mid-grey');
    filter: opacity(50%);
  }
}

.keep-right {
  float: right;
}

.vh-horizontal-align {
  display: flex;
  align-items: center;
}

.vh-top-m15 {
  margin-top: 15px;
}

.vh-top-m30 {
  margin-top: 30px;
}

.vh-mt50 {
  margin-top: 50px;
}

.vh-mr25 {
  margin-right: 25px !important;
}

.vh-mr15 {
  margin-right: 15px !important;
}

.vh-mr70 {
  margin-right: 70px;
}

.vh-ml70 {
  margin-left: 70px;
}

.vh-ml15 {
  margin-left: 15px;
}

.vhlink:link {
  color: hsl(206, 100%, 32%);
  font-weight: 500;
  margin-left: 10px;
  font-family: 'nta', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  line-height: 1;
  float: left;
}

.vhlink:visited {
  color: govuk-colour('blue');
}

.vhlink:hover {
  color: govuk-colour('blue');
  text-decoration: underline;
}

.remove-header-padding {
  margin-bottom: 0px !important;
}

.vh-popup {
  margin: 70px auto;
  padding: 30px;
  background: govuk-colour('white');
  border-radius: 0px;
  width: 50%;
  position: relative;
  transition: all 2s ease-in-out;
  text-align: center;
}

.vh-popup-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  z-index: 3000;
}

.vh-popup-small {
  max-width: 600px !important;
  text-align: center;
}

.vh-popup-xsmall {
  max-width: 500px !important;
}

.vh-text-color-black {
  color: govuk-colour('black');
}

.vh-text-color-red {
  color: govuk-colour('red') !important;
}

.vh-btn-cancel {
  color: govuk-colour('white');
  background-color: govuk-colour('red');
}

.vh-cancelled-booking {
  color: govuk-colour('white');
  background-color: govuk-colour('red');
  padding-top: 7px;
  padding-bottom: 7px;
  width: 10%;
  font-weight: 300;
  text-align: center;
  margin-top: 1px;
  font-size: 18px;
  font-family: 'nta', Arial, sans-serif;
  float: left;
}

.vh-cancelled-reason {
  color: govuk-colour('dark-grey');
  background-color: govuk-colour('white');
  padding-top: 7px;
  padding-left: 10px;
  width: 50%;
  font-weight: 300;
  text-align: left;
  margin-top: 1px;
  font-size: 18px;
  font-family: 'nta', Arial, sans-serif;
  float: left;
}

.vh-status {
  color: govuk-colour('white');
  padding-top: 7px;
  padding-bottom: 7px;
  width: 10%;
  font-weight: 300;
  text-align: center;
  margin-top: 1px;
  font-size: 18px;
  font-family: 'nta', Arial, sans-serif;
  float: left;
}

.vh-created-booking {
  background-color: govuk-colour('blue');
}

.vh-created-confirmation-failed {
  background-color: govuk-colour('red');
}

.vh-btncancel {
  background-color: govuk-colour('mid-grey') !important;
  color: govuk-colour('black') !important;
}

.vh-btncancel:hover,
.vh-btncancel:focus {
  background-color: govuk-colour('mid-grey') !important;
}

.popup {
  margin: 70px auto;
  padding: 30px;
  background: govuk-colour('white');
  border-radius: 0px;
  width: 50%;
  position: relative;
  transition: all 2s ease-in-out;
}

p {
  max-height: 30%;
  overflow: auto;
  color: govuk-colour('black');
  font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-size: 18px;
  line-height: 1.3157;
}

.popup-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  z-index: 100;
}

.popup-small {
  max-width: 600px !important;
  text-align: center;
}

.vh-mr {
  margin-right: 30px;
}

.vh-top {
  margin-top: 30px;
}

.vh-loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.vh-loader-small-container {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.vh-loader {
  margin-top: 15px;
  transform: translate(-50%, -50%);
  transform: -webkit-translate(-50%, -50%);
  transform: -moz-translate(-50%, -50%);
  transform: -ms-translate(-50%, -50%);
  color: govuk-colour('red');
  border: 8px solid govuk-colour('black');
  /* Light grey */
  border-top: 8px solid govuk-colour('blue');
  /* Blue */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
  z-index: 1001;
  box-shadow: 0px 0px 10px #fff;
}

.loader-label {
  display: inline-block;
  margin-bottom: 0;
  padding: 15px 0 0 15px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// relocated from styles.scss

.vh-popup-message {
  margin: 270px auto;
  padding: 30px;
  background: govuk-colour('white');
  border-radius: 0px;
  width: 50%;
  position: relative;
  transition: all 2s ease-in-out;
  text-align: center;
}

.vh-popup-message-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  z-index: 999;
}

.vh-popup-message-small {
  max-width: 600px !important;
  text-align: center;
}

.vh-popup-medium {
  max-width: 800px !important;
  text-align: center;
}

.vh-popup-message-xsmall {
  max-width: 500px !important;
}

.vh-align-text-left {
  text-align: left;
}

.vh-max-width {
  width: 100%;
}

.vh-margin-bottom-10 {
  margin: auto;
}

.vh-title {
  float: left;
  padding-right: 10px;
}

.vh-top-pop {
  margin: 70px auto !important;
}

.aligned-centre {
  text-align: center;
}

.aligned-centre-flex {
  justify-content: center;
}

.remove-float {
  float: none !important;
}

.govuk-green {
  color: govuk-colour('green');
}

.govuk-bright-purple {
  color: govuk-colour('bright-purple');
}
