/* You can add global styles to this file, and also import other style files */

.vh-top-m15 {
  margin-top: 15px;
}

.vh-mt50 {
  margin-top: 50px;
}

.vh-mr25 {
  margin-right: 25px;
}

.vhlink:link {
  color: #005ea5;
  font-weight: 500;
  margin-left: 10px;
  font-family: "nta", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  line-height: 1;
  float:left;
}

.vhlink:visited {
  color: #005ea5;
}

.vhlink:hover {
  color: #005ea5;
  text-decoration: underline;
}

.remove-header-padding {
  margin-bottom: 0px !important;
}
