/* You can add global styles to this file, and also import other style files */

.vh-top-m15 {
  margin-top: 15px;
}

.vh-top-m30 {
  margin-top: 30px;
}

.vh-mt50 {
  margin-top: 50px;
}

.vh-mr25 {
  margin-right: 25px;
}

.vh-mr15 {
  margin-right: 15px !important;
}

.vh-mr70 {
  margin-right: 70px;
}

.vh-ml70 {
  margin-left: 70px;
}

.vh-ml15 {
  margin-left: 15px;
}

.vhlink:link {
  color: #005ea5;
  font-weight: 500;
  margin-left: 10px;
  font-family: "nta", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  line-height: 1;
  float: left;
}

.vhlink:visited {
  color: #005ea5;
}

.vhlink:hover {
  color: #005ea5;
  text-decoration: underline;
}

.remove-header-padding {
  margin-bottom: 0px !important;
}

.vh-popup {
  margin: 70px auto;
  padding: 30px;
  background: #fff;
  border-radius: 0px;
  width: 50%;
  position: relative;
  transition: all 2s ease-in-out;
  text-align: center;
}

.vh-popup-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  z-index: 999;
}

.vh-popup-small {
  max-width: 600px !important;
  text-align: center;
}

.vh-popup-xsmall {
  max-width: 500px !important;
}

.vh-text-color-black {
  color: #0b0c0c;
}

.vh-btn-cancel {
  color: #ffffff;
  background-color: #d4351c;
}

.vh-cancelled-booking {
  color: #ffffff;
  background-color: #d4351c;
  padding-top: 7px;
  padding-bottom: 7px;
  width: 35%;
  font-weight: 300;
  text-align: center;
  margin-top: 1px;
  font-size: 18px;
  font-family: "nta",Arial,sans-serif;
}

.vh-created-booking {
  color: #ffffff;
  background-color: #3868C2;
  padding-top: 7px;
  padding-bottom: 7px;
  width: 45%;
  font-weight: 300;
  text-align: center;
  margin-top: 1px;
  font-size: 18px;
  font-family: "nta",Arial,sans-serif;
}

.vh-btncancel {
  background-color: #dee0e2 !important;
  color: #0b0b0b !important;
}

  .vh-btncancel:hover, .vh-btncancel:focus {
    background-color: #bfc1c3 !important;
  }

.popup {
  margin: 70px auto;
  padding: 30px;
  background: #fff;
  border-radius: 0px;
  width: 50%;
  position: relative;
  transition: all 2s ease-in-out;
}

p {
  max-height: 30%;
  overflow: auto;
  color: #0B0B0B;
  font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-size: 18px;
  line-height: 1.3157;
}

.popup-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
}

.popup-small {
  max-width: 600px !important;
  text-align: center;
}

.vh-mr {
  margin-right: 30px;
}

.vh-top {
  margin-top: 30px;
}

.vh-loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.vh-loader {
  margin-top: 15px;
  transform: translate(-50%, -50%);
  transform: -webkit-translate(-50%, -50%);
  transform: -moz-translate(-50%, -50%);
  transform: -ms-translate(-50%, -50%);
  color: darkred;
  border: 8px solid #000;
  /* Light grey */
  border-top: 8px solid #005ea5;
  /* Blue */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
  z-index: 1001;
  box-shadow: 0px 0px 10px #FFF;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.vh-popup-message {
  margin: 270px auto;
  padding: 30px;
  background: #fff;
  border-radius: 0px;
  width: 50%;
  position: relative;
  transition: all 2s ease-in-out;
  text-align: center;
}

.vh-popup-message-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  z-index: 999;
}

.vh-popup-message-small {
  max-width: 600px !important;
  text-align: center;
}

.vh-popup-message-xsmall {
  max-width: 500px !important;
}