@import '~govuk-frontend/govuk/base';

.detailsBox {
  @include govuk-font(14, $weight: 'regular', $tabular: false, $line-height: false);
  color: govuk-colour('white');
  width: auto;
  height: auto;
  z-index: 99;
  box-shadow: 0 7px 11px 0px rgba(0, 0, 0, 0.3);
  background: govuk-colour('blue');
  border: 1px solidgovuk-colour('blue');
  border-radius: 2px;
  position: fixed;
  padding: 8px;
}

.link {
  color: govuk-colour('blue');
  text-decoration-line: underline;
  text-decoration-style: solid;
  cursor: pointer;
}
