<div class="govuk-panel" *ngIf="isVhTeamLeader">
  <h1 class="govuk-heading-s">Upcoming unallocated hearings:</h1>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      <a class="hearing-number" [routerLink]="['/work-allocation']" [queryParams]="this.todayDate">{{ getTodayCount }}</a>
      <p>Today</p>
    </div>
    <div class="govuk-grid-column-one-quarter">
      <a class="hearing-number" [routerLink]="['/work-allocation']" [queryParams]="this.tomorrowDate">{{ getTomorrowsCount }}</a>
      <p>Tomorrow</p>
    </div>
    <div class="govuk-grid-column-one-quarter">
      <a class="hearing-number" [routerLink]="['/work-allocation']" [queryParams]="this.weekDate">{{ getThisWeeksCount }}</a>
      <p>This Week</p>
    </div>
    <div class="govuk-grid-column-one-quarter">
      <a class="hearing-number" [routerLink]="['/work-allocation']" [queryParams]="this.monthDate">{{ getThisMonthsCount }}</a>
      <p>This Month</p>
    </div>
  </div>
</div>
