<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-l">You've signed in using an unsupported browser</h2>
    <p class="supported-browser-body">
      It looks like you've signed in using {{ browserName }}. Unfortunately this browser is not currrently supported by our system.
    </p>
    <div>
      <p class="supported-browser-body">Please sign out and sign in again using the following browser:</p>
      <ul class="govuk-list">
        <li *ngFor="let browser of supportedBrowsers">
          <div class="govuk-grid-column-full">
            <div class="govuk-grid-column-one-quarter">
              <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third">
                  <img
                    src="{{ browser.iconPath }}"
                    height="48"
                    width="48"
                    class="govuk-!-margin-right-2"
                    alt="{{ browser.name }} browser logo"
                  />
                </div>
                <div class="govuk-grid-column-two-thirds">
                  <p>{{ browser.name }}</p>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
