<app-breadcrumb [canNavigate]="canNavigate"></app-breadcrumb>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <h1 class="govuk-heading-l">{{ constants.BookHearingTitle }}</h1>
  </div>
</div>
<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-half">

    <h2 class="govuk-heading-m">Add a participant</h2>

    <div *ngIf="isShowErrorSummary || displayErrorNoParticipants" class="govuk-error-summary" aria-labelledby="error-summary-title"
         role="alert" data-module="error-summary">
      <h2 class="govuk-error-summary__title" id="error-summary-title">
        Please complete the missing information
      </h2>
      <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
          <li *ngIf="party.invalid || !isPartySelected">
            <a (click)="goToDiv('party-error')" href="javascript: void(0)">{{constants.Error.PartyErrorMsg}}</a>
          </li>
          <li *ngIf="role.invalid || !isRoleSelected">
            <a (click)="goToDiv('role-error')" href="javascript: void(0)">{{constants.Error.RoleErrorMsg}}</a>
          </li>
          <li *ngIf="emailInvalid()">
            <a (click)="goToDiv('email-error')" href="javascript: void(0)">{{constants.Error.EmailErrorMsg}}</a>
          </li>
          <li *ngIf="firstName.invalid">
            <a (click)="goToDiv('firstName-error')" href="javascript: void(0)">{{constants.Error.FirstNameErrorMsg}}</a>
          </li>
          <li *ngIf="lastName.invalid">
            <a (click)="goToDiv('lastName-error')" href="javascript: void(0)">{{constants.Error.LastNameErrorMsg}}</a>
          </li>
          <li *ngIf="phone.invalid">
            <a (click)="goToDiv('phone-error')" href="javascript: void(0)">{{constants.Error.PhoneErrorMsg}}</a>
          </li>
          <li *ngIf="displayName.invalid">
            <a (click)="goToDiv('display-name-error')" href="javascript: void(0)">{{constants.Error.DisplaNameErrorMsg}}</a>
          </li>
          <li *ngIf="displayErrorNoParticipants">
            <a href="javascript: void(0)">{{constants.Error.NoParticipantsErrorMsg}}</a>
          </li>
        </ul>
      </div>
    </div>

    <form [formGroup]="participantForm" (ngSubmit)="saveParticipant()" autocomplete="off">

      <div class="govuk-form-group" [ngClass]="{'govuk-form-group--error': partyInvalid || !isPartySelected}">
        <legend id="party-error" *ngIf="partyInvalid || !isPartySelected">
          <span class="govuk-error-message">
            {{constants.Error.PartyErrorMsg}}
          </span>
        </legend>
        <label class="govuk-label" for="party">
          Party
        </label>
        <select id="party" formControlName="party" (change)="partySelected()"
                class="govuk-select vh-input-w390" [attr.disabled]="isExistingHearing && isAnyParticipants">
          <option *ngFor="let prt of roleList" [ngValue]="prt">
            {{prt}}
          </option>
        </select>
      </div>


      <div class="govuk-form-group" [ngClass]="{'govuk-form-group--error': roleInvalid || !isRoleSelected}">
        <legend id="role-error" *ngIf="roleInvalid || !isRoleSelected">
          <span class="govuk-error-message">
            {{constants.Error.RoleErrorMsg}}
          </span>
        </legend>
        <label class="govuk-label" for="role">
          Role
        </label>
        <select id="role" formControlName="role" (change)="roleSelected()"
                class="govuk-select vh-input-w390" [attr.disabled]="isExistingHearing && isAnyParticipants">
          <option *ngFor="let ro of hearingRoleList" [ngValue]="ro">
            {{ro}}
          </option>
        </select>
      </div>
      <div *ngIf="showDetails">
        <app-search-email (findParticipant)="getParticipant($event)" (participantsNotFound)="notFoundParticipant()"
                          (emailChanged)="emailChanged()">
        </app-search-email>

        <div class="govuk-form-group" [ngClass]="{'govuk-form-group--error': titleInvalid || !isTitleSelected}">
          <label class="govuk-label" for="title">
            Title
          </label>
          <select id="title" formControlName="title" class="govuk-select vh-input-w390">
            <option *ngFor="let tit of titleList" [ngValue]="tit.value">
              {{tit.value}}
            </option>
          </select>
        </div>

        <div class="govuk-form-group" [ngClass]="{'govuk-form-group--error':firstNameInvalid}">

          <legend id="firstName-error" *ngIf="firstNameInvalid">
            <span class="govuk-error-message">
              {{constants.Error.FirstNameErrorMsg}}
            </span>
          </legend>
          <label class="govuk-label" for="firstName">
            First name
          </label>
          <input id="firstName" formControlName="firstName" class="govuk-input govuk-input--width-20"
                 type="text" [attr.disabled]="isExistingHearing && isAnyParticipants"/>

        </div>

        <div class="govuk-form-group" [ngClass]="{'govuk-form-group--error':lastNameInvalid}">
          <legend id="lastName-error" *ngIf="lastNameInvalid">
            <span class="govuk-error-message">
              {{constants.Error.LastNameErrorMsg}}
            </span>
          </legend>
          <label class="govuk-label" for="lastName">
            Last name
          </label>
          <input id="lastName" formControlName="lastName" class="govuk-input govuk-input--width-20"
                 type="text" [attr.disabled]="isExistingHearing && isAnyParticipants"/>
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="companyName">
            Company <span class="govuk-hint vh-inline">(optional)</span>
          </label>
          <input id="companyName" formControlName="companyName" class="govuk-input govuk-input--width-20" type="text" />
        </div>

        <div class="govuk-form-group" [ngClass]="{'govuk-form-group--error':phoneInvalid}">
          <legend id="phone-error" *ngIf="phoneInvalid">
            <span class="govuk-error-message">
              {{constants.Error.PhoneErrorMsg}}
            </span>
          </legend>
          <label class="govuk-label" for="phone">
            Telephone
          </label>
          <input id="phone" formControlName="phone" class="govuk-input govuk-input--width-20" type="text" />
        </div>

        <div class="govuk-form-group" [ngClass]="{'govuk-form-group--error':displayNameInvalid}">

          <legend id="display-name-error" *ngIf="displayNameInvalid">
            <span class="govuk-error-message">
              {{constants.Error.DisplaNameErrorMsg}}
            </span>
          </legend>
          <label class="govuk-label" for="displayName">
            Display Name
          </label>
          <input id="displayName" formControlName="displayName" class="govuk-input govuk-input--width-20" type="text" />

        </div>
        <div *ngIf="showAddress">
          <div class="govuk-form-group" [ngClass]="{'govuk-form-group--error':houseNumberInvalid}">

            <legend id="display-name-error" *ngIf="houseNumberInvalid">
              <span class="govuk-error-message">
                {{constants.Error.HouseNumberErrorMsg}}
              </span>
            </legend>
            <label class="govuk-label" for="houseNumber">
              Building and street
            </label>
            <input id="houseNumber" formControlName="houseNumber" class="govuk-input govuk-input--width-20" type="text" />

          </div>
          <div class="govuk-form-group" [ngClass]="{'govuk-form-group--error':streetInvalid}">

            <legend id="display-name-error" *ngIf="streetInvalid">
              <span class="govuk-error-message">
                {{constants.Error.StreetErrorMsg}}
              </span>
            </legend>
            <input id="street" formControlName="street" class="govuk-input govuk-input--width-20" type="text" />

          </div>
          <div class="govuk-form-group" [ngClass]="{'govuk-form-group--error':cityInvalid}">

            <legend id="display-name-error" *ngIf="cityInvalid">
              <span class="govuk-error-message">
                {{constants.Error.CityErrorMsg}}
              </span>
            </legend>
            <label class="govuk-label" for="city">
              Town or city
            </label>
            <input id="city" formControlName="city" class="govuk-input govuk-input--width-20" type="text" />

          </div>
          <div class="govuk-form-group" [ngClass]="{'govuk-form-group--error':countyInvalid}">

            <legend id="display-name-error" *ngIf="countyInvalid">
              <span class="govuk-error-message">
                {{constants.Error.CountyErrorMsg}}
              </span>
            </legend>
            <label class="govuk-label" for="county">
              County
            </label>
            <input id="county" formControlName="county" class="govuk-input govuk-input--width-20" type="text" />

          </div>
          <div class="govuk-form-group" [ngClass]="{'govuk-form-group--error':postcodeInvalid}">

            <legend id="post-code-error" *ngIf="postcodeInvalid">
              <span class="govuk-error-message">
                {{constants.Error.PostcodeErrorMsg}}
              </span>
            </legend>
            <label class="govuk-label" for="postcode">
              Postcode
            </label>
            <input id="postcode" formControlName="postcode" class="govuk-input govuk-input--width-20" type="text" />

          </div>
        </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half" *ngIf="displayAddButton">
          <img src="assets/images/AddIcon.png" alt="Add icon with sign plus" />
          <span class="vh-vert-top-m15">
            <a href="javascript:void(0)" (click)="saveParticipant()" type="submit" id="addParticipantBtn" class="govuk-link govuk-body">
              Add participant
            </a>
          </span>
        </div>

        <div class="govuk-grid-column-one-half" *ngIf="displayUpdateButton">
          <img src="assets/images/AddIcon.png" alt="Add icon with sign plus" />
          <span class="vh-vert-top-m15">
            <a href="javascript:void(0)" (click)="updateParticipantAction()" type="submit" id="updateParticipantBtn" class="govuk-link govuk-body">
              Update participant
            </a>
          </span>
        </div>

        <div class="govuk-grid-column-one-half" *ngIf="displayClearButton">
          <img src="assets/images/ClearIcon.png" alt="Clear fiealds icon" />
          <span class="vh-vert-top-m15">
            <a href="javascript:void(0)" id="clearFormBtn" class="govuk-link govuk-body" (click)="clearForm()">
              Clear details
            </a>
          </span>
        </div>
      </div>
    </form>
    <div class="vh-top">
      <input *ngIf="displayNextButton" id="nextButton" type="button" class="govuk-button vh-mr25" role="button" value="{{buttonAction}}"
             (click)="next()" />
      <input id="cancelBtn" type="button" class="govuk-button hmcts-button--secondary" role="button" value="Cancel" (click)="addParticipantCancel()" />
    </div>
  </div>

  <div class="govuk-grid-column-one-half" style="margin: 0;">
    <app-participants-list [participants]="hearing.participants"></app-participants-list>
  </div>
</div>

<div *ngIf="showCancelPopup">
  <app-cancel-popup (continueBooking)="handleContinueBooking()" (cancelBooking)="handleCancelBooking()"></app-cancel-popup>
</div>

<div *ngIf="showConfirmationPopup">
  <app-confirmation-popup (ok)="handleConfirmation()" [message]="confirmationMessage"></app-confirmation-popup>
</div>

<div *ngIf="showConfirmationRemoveParticipant">
  <app-remove-popup (continueRemove)="handleContinueRemove()" (cancelRemove)="handleCancelRemove()" [fullName]="removerFullName" [isLastParticipant]="isAnyParticipants"></app-remove-popup>
</div>

<div *ngIf="attemptingDiscardChanges">
  <app-discard-confirm-popup (continueEditing)="handleContinueBooking()" (cancelChanges)="cancelChanges()">
  </app-discard-confirm-popup>
</div>

