.vh-input-w390{
max-width: 390px;
}
.vh-add-btn{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 28px;
    text-align: center;
   
}

.vh-add-btn:focus{
    outline: none;
}
.vh-vert-m15{
    vertical-align: -15px;
    margin-left: 5px;
}

.vh-vert-top-m15{
    vertical-align: 10px;
}

.vh-mr25{
    margin-right: 25px; 
}
  
.vh-btn-link{
color:#4c2c92 !important;
text-decoration: underline !important;
border:none !important;
background-color: #ffffff !important;
}
.vh-btn-link:hover{
    color:#2b8cc4;
}

.vh-top{
    margin-top: 15px;
}
