.vh-sml {
    font-size: smaller;
}

.vh-xsml {
    font-size: 12px;
}

.vh-table {
    font-family: "nta", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: bold;
    font-size: 18px;
    line-height: 1;
    color: #0b0c0c;
    width: 100%;
    margin-bottom: 10px;
    border-spacing: 5px;
    border-collapse: collapse;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 500px;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.vh-row-selected {
    background-color: aliceblue;
    padding-top: 3px;
}

.vh-a{
  cursor:pointer;
}

.rowbottom {
    border-bottom: 1px solid #bfc1c3;
    text-align: left;
}

.vh-row {
    margin-top: 15px;
}

.vh-col {
    margin-left: 10px;
}

.vh-l {
    margin-left: 0;
    margin-right: 0;
    float: left;
}

.govuk-hint {
    margin-bottom: 0;
}

.vh-loadlink {
    font-weight: normal;
    text-decoration: none;
}

.vh-loader-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.vh-loader {
    margin-top: 15px;
    transform: translate(-50%, -50%);
    transform: -webkit-translate(-50%, -50%);
    transform: -moz-translate(-50%, -50%);
    transform: -ms-translate(-50%, -50%);
    color: darkred;
    border: 8px solid #000;
    /* Light grey */
    border-top: 8px solid #005ea5;
    /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
    z-index: 1001;
    box-shadow: 0px 0px 10px #FFF;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.vh-cancelledBooking {
    color: #ffffff;
    background-color: #b10e1e;
    margin-left: 9px;
    padding-top: 3px;
    padding-bottom: 3px;
    width: 50%;
    font-weight: 200;
    text-align: center;
}

.vh-row-selected {
    background-color: lightgray;
    padding-top: 3px;
}