@import '~govuk-frontend/govuk/base';
@import '~govuk-frontend/govuk/all';
@import '~@hmcts/frontend/all';

p {
  overflow: hidden;
}

.vh-sml {
  font-size: smaller;
}

.vh-xsml {
  font-size: 12px;
}

.vh-table {
  font-family: 'nta', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: bold;
  font-size: 18px;
  line-height: 1;
  color: #0b0c0c;
  width: 100%;
  margin-bottom: 10px;
  border-spacing: 5px;
  border-collapse: collapse;
  word-wrap: break-word;
}

.vh-row-selected {
  background-color: aliceblue;
  padding-top: 3px;
}

.vh-a {
  cursor: pointer;
}

.rowbottom {
  border-bottom: 1px solid #bfc1c3;
  text-align: left;
}

.vh-row {
  margin-top: 15px;
}

.vh-col {
  margin-left: 10px;
}

.vh-l {
  margin-left: 0;
  margin-right: 0;
  float: left;
}

.govuk-hint {
  margin-bottom: 0;
}

.vh-loadlink {
  font-weight: normal;
  text-decoration: none;
}

.vh-cancelled-booking,
.vh-confirmation-failed {
  color: #ffffff;
  background-color: #d4351c;
  margin-left: 9px;
  padding-top: 3px;
  padding-bottom: 3px;
  width: 50%;
  font-weight: 200;
  text-align: center;
}

.vh-created-booking {
  color: #ffffff;
  background-color: #3868c2;
  margin-left: 9px;
  padding-top: 3px;
  padding-bottom: 3px;
  width: 50%;
  font-weight: 200;
  text-align: center;
}

.vh-row-cancelled {
  background-color: lightgray;
  padding-top: 3px;
}

.vh-row-created {
  padding-top: 3px;
}

.vh-font-black {
  color: #0b0c0c;
}

.vh-right-align {
  float: right;
}

.vh-btnpanel {
  margin-bottom: 0px !important;
  font-size: 14px !important;
  background-color: #0b0c0c !important;
  padding: 6px 10px !important;
  box-shadow: none;
}

.vh-searchicon {
  height: 12px;
  margin-right: 6px;
}

#venue-list {
  @extend .govuk-body;
}

#case-type-list {
  @extend .govuk-body;
}

.ng-select.custom ::ng-deep .ng-placeholder {
  color: govuk-colour('black');
}
