<div *ngIf="showSearch" id="searchPanel" class="hmcts-filter">
  <div class="hmcts-filter__header">
    <div class="hmcts-filter__header-title">
      <h2 class="govuk-heading-m">Search bookings</h2>
    </div>
    <div class="vh-right-align">
      <button class="govuk-button vh-btnpanel" (click)="closeSearchPanel()">Close</button>
    </div>
  </div>
  <div class="hmcts-filter__content">
    <form [formGroup]="searchForm" (ngSubmit)="onSearch()" class="govuk-form-group">
      <div class="govuk-form-group">
        <div class="govuk-grid-row govuk-!-margin-left-6 govuk-!-margin-top-6">
          <div class="govuk-grid-column-one-half">
            <label class="govuk-label" for="caseNumber">Case number</label>
            <input id="caseNumber" placeholder="Please enter a case number" class="govuk-input" type="text" formControlName="caseNumber" />
          </div>
          <div class="govuk-grid-column-one-half">
            <label class="govuk-label" for="venues">Venues</label>
            <ng-select
              id="venue-list"
              class="custom"
              labelForId="venues"
              [items]="venues"
              bindLabel="name"
              bindValue="id"
              formControlName="selectedVenueIds"
              [placeholder]="'Select venues'"
              [multiple]="true"
              [attr.aria-label]="'Venue list'"
              [closeOnSelect]="false"
              [clearSearchOnAdd]="true"
              [selectOnTab]="true"
            >
              <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                <input id="item-{{ index }}" type="checkbox" [checked]="item$.selected" [attr.aria-label]="'Venue name ' + item.name" />
                {{ item.name }}
              </ng-template>
            </ng-select>
          </div>
          <div class="govuk-grid-column-one-half">
            <label class="govuk-label" for="caseTypes">Case types</label>
            <ng-select
              id="case-type-list"
              class="custom"
              labelForId="caseTypes"
              [items]="caseTypes"
              bindLabel="item"
              bindValue="item"
              formControlName="selectedCaseTypes"
              [placeholder]="'Select case types'"
              [multiple]="true"
              [attr.aria-label]="'Case type list'"
              [closeOnSelect]="false"
              [clearSearchOnAdd]="true"
              [selectOnTab]="true"
            >
              <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                <input id="item-{{ index }}" type="checkbox" [checked]="item$.selected" [attr.aria-label]="'Case type ' + item" />
                {{ item }}
              </ng-template>
            </ng-select>
          </div>
          <div class="govuk-grid-column-one-quarter">
            <label class="govuk-label" for="startDate">Single/Start date</label>
            <input
              id="startDate"
              class="govuk-input"
              type="date"
              formControlName="startDate"
              min="{{ today | date: 'yyyy-MM-dd' }}"
              max="{{ searchForm.value.endDate }}"
              (blur)="onStartDateBlur()"
            />
          </div>
          <div class="govuk-grid-column-one-quarter">
            <label class="govuk-label" for="endDate">End date</label>
            <input
              id="endDate"
              class="govuk-input"
              type="date"
              formControlName="endDate"
              min="{{ searchForm.value.startDate || today | date: 'yyyy-MM-dd' }}"
              (blur)="onEndDateBlur()"
            />
          </div>
        </div>
        <div class="govuk-grid-row govuk-!-margin-left-6 govuk-!-margin-top-6">
          <div class="govuk-grid-column-one-half">
            <button
              id="searchButton"
              data-module="govuk-button"
              type="submit"
              class="govuk-button govuk-!-margin-right-2"
              alt="search booking list"
              [disabled]="!isSearchFormValid()"
            >
              Search
            </button>
            <button
              id="cancelButton"
              data-module="govuk-button"
              type="button"
              (click)="onClear()"
              alt="clear and reload existing booking list"
              class="govuk-button hmcts-button--secondary"
            >
              Clear
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <h1 class="govuk-heading-l">{{ title }}</h1>
  </div>
  <div class="govuk-grid-column-one-half">
    <button
      *ngIf="!showSearch && enableSearchFeature"
      id="openSearchPanelButton"
      class="govuk-button vh-btnpanel vh-right-align"
      (click)="openSearchPanel()"
    >
      <img src="assets/images/searchicon.png" alt="search" class="vh-searchicon" />Search
    </button>
  </div>
</div>

<div *ngIf="recordsLoaded">
  <div id="vh-table" class="vh-table" appScrollTrigger (scrolledPast)="scrollHandler()">
    <div *ngFor="let booking of bookings; index as b">
      <div class="govuk-grid-row vh-row">
        <div class="govuk-grid-column-full govuk-hint">
          {{ booking.BookingsDate | amLocal | amDateFormat: 'dddd DD MMMM YYYY' }}
        </div>
      </div>
      <div class="govuk-grid-row vh-row">
        <div class="rowbottom"></div>
      </div>

      <div
        *ngFor="let detail of booking.BookingsDetails; index as i"
        [ngClass]="{ 'vh-row-selected': detail.Selected, 'vh-row-cancelled': detail.isCancelled, 'vh-row-created': detail.isCreated }"
      >
        <div class="govuk-grid-row vh-row vh-a" (click)="rowSelected(b, i)" [attr.id]="b + '_' + i">
          <div class="govuk-grid-column-one-quarter">
            <div class="vh-sml vh-col">{{ detail.StartTime | amLocal | amDateFormat: 'h:mm a' }}</div>
            <div class="govuk-hint vh-sml vh-col vh-font-black">listed for {{ detail.DurationInHoursAndMinutes }}</div>
            <div *ngIf="detail.isCancelled" class="vh-cancelled-booking">{{ detail.Status }}</div>
            <div *ngIf="detail.isCreated" class="vh-created-booking">Confirmed</div>
            <div *ngIf="detail.hasBookingConfirmationFailed" class="vh-confirmation-failed">Failed</div>
          </div>
          <div class="govuk-grid-column-one-quarter">
            <div class="vh-sml">{{ detail.HearingCaseNumber }}</div>
            <div class="vh-sml">{{ detail.HearingCaseName }}</div>
            <div class="vh-sml">{{ detail.CaseType }}</div>
            <div class="vh-sml">{{ detail.HearingType }}</div>
          </div>
          <div class="govuk-grid-column-one-quarter">
            <div class="vh-sml">{{ detail.JudgeName }}</div>
            <div class="govuk-hint vh-sml vh-font-black">{{ detail.CourtRoomAccount }}</div>
            <div class="govuk-hint vh-sml vh-font-black">{{ detail.CourtAddress }}</div>
          </div>
          <div class="govuk-grid-column-one-quarter">
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-full">
                <div class="govuk-hint vh-xsml vh-font-black">Created by:</div>

                <span class="govuk-hint vh-xsml vh-font-black">{{ detail.CreatedBy }}</span>
                <span class="govuk-hint vh-xsml vh-font-black">
                  {{ detail.CreatedDate | appLongDatetime }}
                </span>
              </div>
            </div>
            <div class="govuk-grid-row" *ngIf="detail.LastEditBy">
              <div class="govuk-grid-column-full vh-l">
                <div class="govuk-hint vh-xsml vh-font-black">Last edited by:</div>

                <span class="govuk-hint vh-xsml vh-font-black">{{ detail.LastEditBy }}</span>
                <span class="govuk-hint vh-xsml vh-font-black">
                  {{ detail.LastEditDate | appLongDatetime }}
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="govuk-grid-row vh-row">
          <div class="rowbottom"></div>
        </div>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div *ngIf="endOfData">
        <div class="govuk-grid-column-full vh-loader-container">
          <p class="govuk-body-m">End of data</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="govuk-grid-row">
  <div *ngIf="endOfData && bookings.length == 0">
    <div class="govuk-grid-column-full vh-loader-container">
      <p class="govuk-body-m">No records found</p>
    </div>
  </div>
</div>
<div class="govuk-grid-row">
  <div *ngIf="error">
    <div class="govuk-grid-column-full vh-loader-container">
      <p class="govuk-body-m">An error has occurred, please try again later or contact your administrator</p>
    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div *ngIf="!loaded && !endOfData && !error">
    <div class="govuk-grid-column-full vh-loader-container">
      <div class="vh-loader"></div>
    </div>
  </div>
</div>
