<div *ngIf="showSearch" id="searchPanel" class="hmcts-filter">
  <div class="hmcts-filter__header">
    <div class="hmcts-filter__header-title">
      <h2 class="govuk-heading-m">Search bookings</h2>
    </div>
    <div class="vh-right-align">
      <button class="govuk-button vh-btnpanel" (click)="closeSearchPanel()">Close</button>
    </div>
  </div>
  <div class="hmcts-filter__content">
    <form [formGroup]="searchForm" (ngSubmit)="onSearch()" class="govuk-form-group">
      <div class="govuk-form-group">
        <div class="govuk-grid-row govuk-!-margin-left-6 govuk-!-margin-top-6 govuk-!-margin-right-6">
          <div class="govuk-grid-column-one-half">
            <label class="govuk-label" for="caseNumber">Case number</label>
            <input id="caseNumber" placeholder="Please enter a case number" class="govuk-input" type="text" formControlName="caseNumber" />
          </div>
          <div class="govuk-grid-column-one-half">
            <app-venues-menu (selectedEmitter)="selectedVenueEmitter($event)"></app-venues-menu>
          </div>
          <div class="govuk-grid-column-one-half">
            <label class="govuk-label" for="participantLastName">Participant's last name</label>
            <input
              id="participantLastName"
              placeholder="Please enter participant's last name"
              class="govuk-input"
              type="text"
              formControlName="participantLastName"
            />
          </div>
          <div class="govuk-grid-column-one-half">
            <app-case-types-menu (selectedEmitter)="selectedCaseTypesEmitter($event)"></app-case-types-menu>
          </div>
          <div class="govuk-grid-column-one-quarter">
            <label class="govuk-label" for="startDate">Single/Start date</label>
            <input
              id="startDate"
              class="govuk-input"
              type="date"
              formControlName="startDate"
              min="{{ today | date : 'yyyy-MM-dd' }}"
              max="{{ searchForm.value.endDate }}"
              (blur)="onStartDateBlur()"
            />
          </div>
          <div class="govuk-grid-column-one-quarter">
            <label class="govuk-label" for="endDate">End date</label>
            <input
              id="endDate"
              class="govuk-input"
              type="date"
              formControlName="endDate"
              min="{{ searchForm.value.startDate || today | date : 'yyyy-MM-dd' }}"
              (blur)="onEndDateBlur()"
            />
          </div>
          <div class="govuk-grid-column-one-half">
            <app-justice-users-menu (selectedEmitter)="selectedUsersEmitter($event)"></app-justice-users-menu>
          </div>
        </div>
        <div class="govuk-grid-row govuk-!-margin-left-6 govuk-!-margin-top-6 govuk-!-margin-right-6">
          <div class="govuk-grid-column-one-half">
            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="noJudge" name="noJudge" type="checkbox" formControlName="noJudge" />
                <label class="govuk-label govuk-checkboxes__label" for="noJudge"> Hearings with no judge </label>
              </div>
            </div>
          </div>
          <div class="govuk-grid-column-one-half vh-right-align">
            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input
                  class="govuk-checkboxes__input"
                  id="noAllocated"
                  name="noAllocated"
                  type="checkbox"
                  formControlName="noAllocated"
                  (change)="onChangeNoAllocated()"
                />
                <label class="govuk-label govuk-checkboxes__label" for="noAllocated"> Unallocated hearings </label>
              </div>
            </div>
          </div>
        </div>
        <div class="govuk-grid-row govuk-!-margin-left-6 govuk-!-margin-top-3 govuk-!-margin-right-6">
          <div class="govuk-grid-column-one-half">
            <button
              id="searchButton"
              data-module="govuk-button"
              type="submit"
              class="govuk-button govuk-!-margin-right-2"
              alt="search booking list"
            >
              Search
            </button>
            <button
              id="cancelButton"
              data-module="govuk-button"
              type="button"
              (click)="onClear()"
              alt="clear and reload existing booking list"
              class="govuk-button hmcts-button--secondary"
            >
              Clear
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <h1 class="govuk-heading-l">{{ title }}</h1>
  </div>
  <div class="govuk-grid-column-one-half">
    <button *ngIf="!showSearch" id="openSearchPanelButton" class="govuk-button vh-btnpanel vh-right-align" (click)="openSearchPanel()">
      <img src="assets/images/searchicon.png" alt="search" class="vh-searchicon" />Search
    </button>
  </div>
</div>

<div *ngIf="recordsLoaded">
  <div id="vh-table" class="vh-table" appScrollTrigger (scrolledPast)="scrollHandler()">
    <div *ngFor="let booking of bookings; index as b">
      <div class="govuk-grid-row vh-row">
        <div class="govuk-grid-column-full govuk-hint">
          {{ booking.BookingsDate | amLocal | amDateFormat : 'dddd DD MMMM YYYY' }}
        </div>
      </div>
      <div class="govuk-grid-row vh-row">
        <div class="rowbottom"></div>
      </div>
      <div
        *ngFor="let detail of booking.BookingsDetails; index as i"
        [ngClass]="{ 'vh-row-selected': detail.Selected, 'vh-row-cancelled': isCancelled(detail), 'vh-row-created': isCreated(detail) }"
      >
        <div class="govuk-grid-row vh-row vh-a" onKeyPress="" (click)="rowSelected(b, i)" [attr.id]="b + '_' + i">
          <div class="govuk-grid-column-one-quarter">
            <app-booking-status [bookingDetails]="detail.Booking" [showTime]="true"></app-booking-status>
          </div>
          <div class="govuk-grid-column-one-quarter">
            <div class="vh-sml">{{ detail.Booking.case.number }}</div>
            <div class="vh-sml">{{ detail.Booking.case.name }}</div>
            <div class="vh-sml">{{ detail.Booking.case_type }}</div>
            <div class="vh-sml">{{ detail.HearingType }}</div>
          </div>
          <div class="govuk-grid-column-one-quarter">
            <div class="vh-sml">{{ detail.Booking.judge?.displayName }}</div>
            <div class="govuk-hint vh-sml vh-font-black">{{ detail.Booking.courtRoomAccount }}</div>
            <div class="govuk-hint vh-sml vh-font-black">{{ detail.Booking.court_name }}</div>
          </div>
          <div class="govuk-grid-column-one-quarter">
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-full">
                <div class="govuk-hint vh-xsml vh-font-black">Created by:</div>

                <span class="govuk-hint vh-xsml vh-font-black">{{ detail.Booking.created_by }}</span>
                <span class="govuk-hint vh-xsml vh-font-black">
                  {{ detail.Booking.created_date | appLongDatetime }}
                </span>
              </div>
            </div>
            <div class="govuk-grid-row" *ngIf="detail.Booking.updated_by">
              <div class="govuk-grid-column-full vh-l">
                <div class="govuk-hint vh-xsml vh-font-black">Last edited by:</div>

                <span class="govuk-hint vh-xsml vh-font-black">{{ detail.Booking.updated_by }}</span>
                <span class="govuk-hint vh-xsml vh-font-black">
                  {{ detail.Booking.updated_date | appLongDatetime }}
                </span>
              </div>
            </div>
            <div id="allocated-to-{{ detail.Booking.hearing_id }}" class="govuk-grid-row">
              <div class="govuk-grid-column-full vh-l">
                <div class="govuk-hint vh-xsml vh-font-black">Allocated to: {{ detail.Booking.allocatedTo }}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="govuk-grid-row vh-row">
          <div class="rowbottom"></div>
        </div>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div *ngIf="endOfData">
        <div class="govuk-grid-column-full vh-loader-container">
          <p class="govuk-body-m">End of data</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="govuk-grid-row">
  <div *ngIf="endOfData && bookings.length == 0">
    <div class="govuk-grid-column-full vh-loader-container">
      <p class="govuk-body-m">No records found</p>
    </div>
  </div>
</div>
<div class="govuk-grid-row">
  <div *ngIf="error">
    <div class="govuk-grid-column-full vh-loader-container">
      <p class="govuk-body-m">An error has occurred, please try again later or contact your administrator</p>
    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div *ngIf="!loaded && !endOfData && !error">
    <div class="govuk-grid-column-full vh-loader-container">
      <div class="vh-loader"></div>
    </div>
  </div>
</div>
