<div class="column-one-half pl-0">
  <a class="govuk-back-link" href="javascript:void(0)" (click)="back()">Back</a>
</div>
<h1 class="govuk-heading-l">Pre-hearing check results</h1>

<div id="vh-table" class="vh-table" appScrollTrigger (scrolledPast)="loadNext()">
  <div *ngFor="let questionnaire of answers" style="margin-right: 10px">
    <app-answer-list-entry [questionnaire]="questionnaire"></app-answer-list-entry>
  </div>
</div>

<div class="govuk-grid-row" *ngIf="!loaded">
  <div class="govuk-grid-column-full vh-loader-container">
    <div class="vh-loader"></div>
  </div>
</div>
