---
java:
  image: 'sdshmctspublic.azurecr.io/vh/admin-web:latest'
  applicationPort: 8080
  replicas: 2
  ingressHost: vh-admin-web.{{ .Values.global.environment }}.platform.hmcts.net
  releaseNameOverride: vh-admin-web
  readinessPath: /health/liveness
  livenessPath: /health/liveness
  livenessDelay: 360
  livenessPeriod: 120
  aadIdentityName: vh-aad-identity
  keyVaults:
    vh-infra-core:
      excludeEnvironmentSuffix: false
      resourceGroup: vh-infra-core-{{ .Values.global.environment }}
      usePodIdentity: true
      secrets:
        - applicationinsights--instrumentationkey
        - azuread--tenantid
    vh-admin-web:
      excludeEnvironmentSuffix: false
      resourceGroup: vh-infra-core-{{ .Values.global.environment }}
      usePodIdentity: true
      secrets:
        - azuread--clientsecret
        - azuread--clientid
  environment:
    ASPNETCORE_URLS: http://+:8080
    AZUREAD__BASEVIDEOURL: https://vhinfracore{{ lower .Values.global.environment }}.blob.core.windows.net/video
    AZUREAD__POSTLOGOUTREDIRECTURI: https://vh-admin-web.{{ .Values.global.environment }}.platform.hmcts.net/logout
    AZUREAD__REDIRECTURI: https://vh-admin-web.{{ .Values.global.environment }}.platform.hmcts.net/home
    DISABLEHTTPSREDIRECTION: true
    FEATURETOGGLE__SDKKey: "PLACEHOLDER"
    ISLIVE: "False"
    KINLYCONFIGURATION__CONFERENCEPHONENUMBER: "PLACEHOLDER"
    KINLYCONFIGURATION__CONFERENCEPHONENUMBERWELSH:  "PLACEHOLDER"
    KINLYCONFIGURATION__JOINBYPHONEFROMDATE:  "PLACEHOLDER"
    NOTIFYCONFIGURATION__APIKEY: "PLACEHOLDER"
    Logging__LogLevel__Default: debug
    Logging__LogLevel__System: debug
    Logging__LogLevel__Microsoft: debug
    TESTUSERSECRETS__TESTUSERNAMESTEM: "PLACEHOLDER"
    TESTUSERSECRETS__TESTUSERPASSWORD: "PLACEHOLDER"
    VHSERVICES__BOOKINGSAPIRESOURCEID: https://vh-bookings-api.{{ .Values.global.environment }}.platform.hmcts.net
    VHSERVICES__BOOKINGSAPIURL: https://vh-bookings-api.{{ .Values.global.environment }}.platform.hmcts.net/
    VHSERVICES__LAUNCHDARKLYCLIENTID: "PLACEHOLDER"
    VHSERVICES__NOTIFICATIONAPIRESOURCEID: https://vh-notification-api.{{ .Values.global.environment }}.platform.hmcts.net
    VHSERVICES__NOTIFICATIONAPIURL: https://vh-notification-api.{{ .Values.global.environment }}.platform.hmcts.net/
    VHSERVICES__USERAPIRESOURCEID: https://vh-user-api.{{ .Values.global.environment }}.platform.hmcts.net
    VHSERVICES__USERAPIURL: https://vh-user-api.{{ .Values.global.environment }}.platform.hmcts.net/
    VHSERVICES__VALIDATEEMAIL: "@hearings.reform.hmcts.net"
    VHSERVICES__VIDEOAPIRESOURCEID: https://vh-video-api.{{ .Values.global.environment }}.platform.hmcts.net
    VHSERVICES__VIDEOAPIURL: https://vh-video-api.{{ .Values.global.environment }}.platform.hmcts.net/
    VHSERVICES__VIDEOWEBURL: https://vh-video-web.{{ .Values.global.environment }}.platform.hmcts.net/
