<div id="waitPopup" class="vh-popup-overlay">
  <div class="vh-popup vh-popup-xsmall">
    <h1 class="govuk-heading-m vh-ml70 vh-mr70"> Please wait while we process your request</h1>

    <div class="content">
      <div class="govuk-grid-row">
        
        <div id="dot-loader">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
        
      </div>
    </div>
  </div>
</div>
