<form [formGroup]="form">
  <div class="govuk-form-group">
    <label class="govuk-label" for="judiciaryEmailInput">Email</label>
    <input id="judiciaryEmailInput" class="govuk-input" type="email" autocomplete="off" formControlName="judiciaryEmail" tabindex="1" />
    <ul id="search-results-list" *ngIf="showResult && searchResult?.length > 0" class="vh-li-email govuk-body">
      <li *ngFor="let result of searchResult | slice : 0 : 9" class="vk-showlist-m30" tabindex="2">
        <span class="vh-a-email" (keypress)="selectJudicialMember(result)" (click)="selectJudicialMember(result)">{{ result.email }}</span>
      </li>
    </ul>
  </div>
  <div class="govuk-form-group">
    <div *ngIf="displayNameFieldHasError" class="alert alert-danger">
      <span id="judiciaryDisplayNameInputError" class="govuk-error-message">Display Name Invalid</span>
    </div>
    <label class="govuk-label" for="judiciaryDisplayNameInput">Display Name</label>
    <input id="judiciaryDisplayNameInput" class="govuk-input" type="text" formControlName="displayName" tabindex="2" />
  </div>
  <div *ngIf="isSelectedAccountGeneric">
    <div class="govuk-form-group">
      <div *ngIf="displayContactTelephoneError" class="alert alert-danger">
        <span id="judiciaryOptionContactTelephoneError" class="govuk-error-message">Contact Telephone Invalid</span>
      </div>
      <label class="govuk-label" for="judiciaryOptionContactTelephone">Optional Contact Telephone</label>
      <input id="judiciaryOptionContactTelephone" class="govuk-input" type="text" formControlName="optionalContactTelephone" tabindex="2" />
    </div>
    <div class="govuk-form-group">
      <div *ngIf="displayContactEmailError" class="alert alert-danger">
        <span id="judiciaryOptionContactEmailError" class="govuk-error-message">Contact Email Invalid</span>
      </div>
      <label class="govuk-label" for="judiciaryOptionContactEmail">Optional Contact Email</label>
      <input id="judiciaryOptionContactEmail" class="govuk-input" type="text" formControlName="optionalContactEmail" tabindex="2" />
    </div>
  </div>

  <ng-container *appFeatureFlag="featureFlags.interpreterEnhancements">
    <app-interpreter-form #interpreterForm (interpreterLanguageSelected)="onInterpreterLanguageSelected($event)"></app-interpreter-form>
  </ng-container>
  <button
    *ngIf="judicialMember && form.valid"
    id="confirmJudiciaryMemberBtn"
    class="govuk-button"
    data-module="govuk-button"
    (click)="confirmJudiciaryMemberWithAdditionalContactDetails()"
  >
    {{ saveButtonText }}
  </button>
</form>

<p *ngIf="showResult && !searchResult?.length">
  <span class="govuk-body">No results found</span>
</p>

<div class="govuk-warning-text" *ngIf="showResult && !searchResult?.length">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    No existing user account found
  </strong>
</div>
