<form [formGroup]="form">
  <input
    class="govuk-input"
    type="email"
    autocomplete="email"
    formControlName="judiciaryEmail"
    placeholder="Enter email address"
    tabindex="2"
  />
</form>

<ul id="search-results-list" *ngIf="showResult && searchResult?.length > 0" class="vh-li-email govuk-body">
  <li *ngFor="let result of searchResult | slice : 0 : 9" class="vk-showlist-m30" tabindex="2">
    <span class="vh-a-email" (keypress)="selectJudicialMember(result)" (click)="selectJudicialMember(result)">{{ result.email }}</span>
  </li>
</ul>

<!-- <ul *ngIf="searchResult?.length > 0" class="search-result-list">
  <li *ngFor="let user of searchResult" tabindex="2" class="search-result-list govuk-margin-">
    <span class="govuk-body search-result-row" (click)="selectJudicialMember(user)">{{ user.username }}</span>
  </li>
</ul> -->
