<form [formGroup]="form">
  <input
    class="govuk-input"
    type="email"
    autocomplete="email"
    formControlName="judiciaryEmail"
    placeholder="Enter email address"
    tabindex="2"
  />
</form>

<ul id="search-results-list" *ngIf="showResult && searchResult?.length > 0" class="vh-li-email govuk-body">
  <li *ngFor="let result of searchResult | slice : 0 : 9" class="vk-showlist-m30" tabindex="2">
    <span class="vh-a-email" (keypress)="selectJudicialMember(result)" (click)="selectJudicialMember(result)">{{ result.email }}</span>
  </li>
</ul>

<p *ngIf="showResult && !searchResult?.length">
  <span class="govuk-body">No results found</span>
</p>

<div class="govuk-warning-text" *ngIf="showResult && !searchResult?.length">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    No existing user account found
  </strong>
</div>

<!-- <ul *ngIf="searchResult?.length > 0" class="search-result-list">
  <li *ngFor="let user of searchResult" tabindex="2" class="search-result-list govuk-margin-">
    <span class="govuk-body search-result-row" (click)="selectJudicialMember(user)">{{ user.username }}</span>
  </li>
</ul> -->
