<div id="confirmDeletePopup" class="popup-overlay vh-top-pop">
  <div class="popup popup-small" style="text-align: center">
    <div class="govuk-grid-row">You have selected to delete non-availability hours for {{ userName }}</div>
    <div class="govuk-grid-row"></div>
    <div class="content">
      <div class="govuk-grid-row">
        <div class="govuk-heading-s hmcts-rich-text-editor__toolbar-button--bold">{{ startDate }} - {{ endDate }}</div>
      </div>
      <div class="govuk-grid-row">
        <div class="vh-top">
          <div class="govuk-grid-row">Are you sure you want to proceed?</div>
          <button id="btnConfirm" class="govuk-button vh-mr" type="submit" data-module="govuk-button" (click)="confirmDelete()">
            Yes, continue
          </button>
          <button
            id="btnCancel"
            class="govuk-button govuk-button--secondary"
            type="submit"
            data-module="govuk-button"
            (click)="cancelDelete()"
          >
            Discard change
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
