<div [formGroup]="form">
  <div class="govuk-form-group govuk-!-margin-left-6">
    <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input
          class="govuk-radios__input"
          id="edit-working-hours"
          name="hoursType"
          type="radio"
          formControlName="hoursType"
          value="WorkingHours"
          (focus)="changeSearch()"
          #workingOptionRef
        />
        <label class="govuk-label govuk-radios__label" for="edit-working-hours"> Edit working hours </label>
      </div>
      <div class="govuk-radios__item">
        <input
          class="govuk-radios__input"
          id="edit-non-availability-hours"
          name="hoursType"
          type="radio"
          formControlName="hoursType"
          value="NonWorkingHours"
          (focus)="changeSearch()"
          #nonWorkingOptionRef
        />
        <label class="govuk-label govuk-radios__label" for="edit-non-availability-hours"> Edit non-availability hours </label>
      </div>
    </div>
  </div>
  <div class="govuk-form-group govuk-!-margin-left-6">
    <label class="govuk-label govuk-!-font-weight-bold govuk-!-margin-bottom-2" for="username"> Search for team member </label>
    <div class="govuk-form-group" [ngClass]="{ 'govuk-form-group--error': error !== null }">
      <p *ngIf="error" class="govuk-error-message govuk-!-margin-left-3">Error: {{ error }}</p>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <input class="govuk-input" id="username" name="username" type="text" formControlName="username" required (input)="clear()" />
        </div>
        <button id="vho-search-form-btn" class="govuk-button" data-module="govuk-button" (click)="search()" [disabled]="form.invalid">
          Search
        </button>
      </div>
    </div>
  </div>
</div>
