<div class="button-div" *ngIf="showOnState(audioLinkStates.initial)">
    <button class="govuk-button govuk-!-margin-left-2 standard-width-button" data-module="govuk-button"
            (click)="onGetLinkClick()">
        Get link
    </button>
</div>
<div class="button-div" *ngIf="showOnState(audioLinkStates.loading)">
    <img src="assets/images/please_wait.png" class="loading-image">
    &nbsp;
    <label>Please wait</label>
</div>
<div class="button-div" *ngIf="showOnState(audioLinkStates.finished)">
    <button class="govuk-button govuk-!-margin-left-2 standard-width-button" data-module="govuk-button"
            (click)="onCopyLinkClick()">
        Copy link
    </button>
</div>
<div class="button-div" *ngIf="showOnState(audioLinkStates.error)">
    <div class="error-div">
        <img src="assets/images/red_warning_icon.png" class="error-image">
        &nbsp;
        <label>Error, please try again</label>
    </div>
    <div style="float: right">
        <button class="govuk-button govuk-!-margin-left-2 standard-width-button" data-module="govuk-button"
                (click)="onGetLinkClick()">
            Get link
        </button>
    </div>
</div>
<div *ngIf="showLinkCopiedMessage" (click)="hideLinkCopiedMessage()"
     style="float: right; clear: both; height: 40px; width: 420px; background-color: #005EA5; color: white; display: table; overflow: hidden;
text-align: center; margin-bottom: 10px;">
    <div style="display: table-cell; vertical-align: middle;">
        <div>
            <img src="assets/images/white_tick_icon.png" style="height: 20px; width: 20px; vertical-align: middle; padding-bottom: 4px;">
            &nbsp;
            <label style="font-size: 17px">Link to audio file copied to clipboard (valid for 7 days)</label>
        </div>
    </div>
</div>


