<div class="button-div" *ngIf="showOnState(audioLinkStates.initial)">
    <button class="govuk-button govuk-!-margin-left-2 standard-width-button" data-module="govuk-button"
            (click)="onGetLinkClick()">
        Get link
    </button>
</div>
<div class="button-div" *ngIf="showOnState(audioLinkStates.loading)">
    <img src="assets/images/please_wait.png" class="loading-image" alt="please wait">
    &nbsp;
    <label>Please wait...</label>
</div>
<div class="button-div" *ngIf="showOnState(audioLinkStates.finished)">
    <button class="govuk-button govuk-!-margin-left-2 standard-width-button" data-module="govuk-button"
            (click)="onCopyLinkClick()">
        Copy link
    </button>
</div>

<div class="button-div" *ngIf="showOnState(audioLinkStates.error)">
    <div style="float: right">
        <button class="govuk-button govuk-!-margin-left-2 standard-width-button" data-module="govuk-button"
                (click)="onGetLinkClick()">
            Get link
        </button>
    </div>
</div>
<div *ngIf="showLinkCopiedMessage" (click)="hideLinkCopiedMessage()" class="linkCopiedMessage vh-blue">
        <img src="assets/images/audio_file.png" alt="success" class="vh-m5">
        &nbsp;
        <label>Audio file link copied to clipboard (valid for 7 days)</label>
</div>

<div class="linkCopiedMessage vh-red" *ngIf="showErrorMessage" (click)="hideErrorMessage()">

        <img src="assets/images/error.png" class="error-image" alt="warning">
        &nbsp;
        <label >There was a problem getting this link. Please try again.</label>
</div>
