.standard-width-button {
    width: 100px;
    margin-bottom: 0px;
}

.button-div {
    float: right;
    margin-top: 38px;
}

.loading-image {
    height: 14px;
    width: 10px;
}

.error-image {
    height: 20px;
    width: 20px;
}

.error-div {
    float: left;
    width: 102px;
    color: #d4351c;
}
