<div class="button-div" *ngIf="showOnState(audioLinkStates.initial)">
  <button
    id="getLinkButton"
    class="govuk-button govuk-!-margin-left-2 standard-width-button"
    data-module="govuk-button"
    (click)="onGetLinkClick()"
  >
    Get link
  </button>
</div>
<div class="button-div" *ngIf="showOnState(audioLinkStates.loading)">
  <img src="assets/images/please_wait.png" class="loading-image" alt="please wait" />
  &nbsp;
  <label>Please wait...</label>
</div>

<div class="button-div">
  <div *ngFor="let audioLink of getAudioLinks(); let fileIndex = index">
    <button
      id="{{ fileIndex }}-copyLinkButton"
      class="govuk-button govuk-!-margin-left-2 standard-width-button"
      data-module="govuk-button"
      (click)="onCopyLinkClick(fileIndex)"
    >
      Copy link {{ audioLinks.length > 1 ? fileIndex + 1 : '' }}
    </button>
    <div
      *ngIf="showLinkCopiedMessage[fileIndex]"
      (click)="hideLinkCopiedMessage(fileIndex)"
      id="{{ fileIndex }}-linkCopied"
      class="linkCopiedMessage vh-blue-multi"
    >
      <img src="assets/images/audio_file.png" alt="success" class="vh-m5" />
      &nbsp;
      <label>Audio file link copied to clipboard (valid for 3 days)</label>
    </div>
  </div>
</div>

<div class="button-div" *ngIf="showOnState(audioLinkStates.error)">
  <div style="float: right">
    <button class="govuk-button govuk-!-margin-left-2 standard-width-button" data-module="govuk-button" (click)="onGetLinkClick()">
      Get link
    </button>
  </div>
</div>

<div class="linkCopiedMessage vh-red" *ngIf="showErrorMessage" (click)="hideErrorMessage()">
  <img src="assets/images/error.png" class="error-image" alt="warning" />
  &nbsp;
  <label>There was a problem getting this link. Please try again.</label>
</div>
