.app-version {
  position: relative;
  top: 0;
  width: 100%;
  float: left;
  text-align: center;
  padding: 10px;
  background-color: #f1f1f1;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
}
