<div class="govuk-grid-row vh-row">

  <div *ngIf="participant?.HearingRoleName === 'Judge'">
    <div class="govuk-grid-column-one-third vh-image-15">
      <img src="/assets/images/govuk-crest.png" height="40" width="40" class="govuk-header__logotype-crest"
        alt="HM Courts &amp; Tribunals Service crest" />
    </div>
    <div class="govuk-grid-column-one-half vh-image-50" id="judge-name">
      {{participant?.DisplayName}}
      <div [attr.id]="'participant_role' + participant?.IndexInList" class="govuk-hint">
        {{participant?.HearingRoleName}}
      </div>
    </div>
  </div>

  <div class="govuk-grid-column-full">
    <div *ngIf="participant?.HearingRoleName !== 'Judge'">
      {{participant?.fullName}}
      <div [attr.id]="'participant_role' + participant?.IndexInList" class="govuk-hint">
        {{participant?.HearingRoleName}}
        <span *ngIf="participant.isRepresent">, representing</span>
        <div class="vh-text-color-black">{{participant.Representee}}</div>
      </div>
    </div>

    <div *ngIf="vh_officer_admin">

      <div class="govuk-grid-row" [attr.id]="'participant_email' + participant?.IndexInList">
        <div class="govuk-grid-column-one-third">
          Email:
        </div>
        <div class="govuk-grid-column-two-thirds">
          {{participant?.Email}}
        </div>
      </div>
      <div class="govuk-grid-row" [attr.id]="'participant_userName' + participant?.IndexInList">
        <div class="govuk-grid-column-one-third">
          Username:
        </div>
        <div class="govuk-grid-column-two-thirds">
          {{participant?.UserName}}
        </div>
      </div>

    </div>
  </div>
</div>
<div class="govuk-grid-row vh-row" *ngIf="!participant?.Flag">
  <div class="rowbottom"></div>
</div>
