:host {
  display: block;
  line-height: 1.3em;
}

.container {
  padding: 1em 0;

  .judge-row {
    display: flex;
    align-items: center;

    > div:first-child {
      flex: 0 0 auto;
    }

    > div {
      padding-left: 15px;
      flex: 1 1 auto;
    }

    > div:last-child {
      padding-right: 15px;
    }
  }

  .participant-row {
    display: flex;
    flex-direction: column;

    > div {
      padding-left: 15px;
      flex: 1 1 auto;
    }

    &__detail {
      display: flex;

      > div:first-child {
        padding-left: 0;
      }

      > div {
        flex: 1 1 auto;
        padding-left: 15px;
      }

      .participant-row__icon {
        flex: 0 0 auto;
      }
    }

    &__contact {
      margin-top: 0.5em;
      &-label {
        font-weight: bold;
      }
    }
  }

  .wrap {
    word-break: break-all;
    overflow-wrap: break-word;
  }

  .light {
    color: #505a5f;
    font-size: 1.1875rem;
    line-height: 1.31578947;
  }
}
