#filter-btn {
    margin-top: 37px;
}

.table-cell-delete {
    vertical-align: middle;
    fa-icon {
        cursor: pointer;
        color: #ff0000;
    }
}
.govuk-table__header {
    fa-icon {
        cursor: pointer;
        color: #0b0c0c;
    }
}



