<app-breadcrumb [canNavigate]="canNavigateNext"></app-breadcrumb>
<h1 class="govuk-heading-l">Book a video hearing</h1>

<h2 class="govuk-heading-m">Assign a courtroom account</h2>

<div
    *ngIf="failedSubmission && form.invalid"
    class="govuk-error-summary govuk-!-width-one-half"
    aria-labelledby="error-summary-title"
    role="alert"
    tabindex="-1"
    data-module="error-summary"
>
    <h2 class="govuk-error-summary__title" id="error-summary-title">Please complete the missing information</h2>
    <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
            <li *ngIf="judgeName.invalid">
                <a (click)="goToDiv('judgeName-error')">Please select a courtroom account</a>
            </li>
            <li *ngIf="judgeDisplayNameInvalid">
                <a (click)="goToDiv('judgeDisplayName-error')">{{ constants.Error.JudgeDisplayNameErrorMsg }}</a>
            </li>
        </ul>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <form [formGroup]="form" class="govuk-form-group" (ngSubmit)="saveJudge()">
            <div [ngClass]="judgeNameInvalid || !isJudgeSelected ? 'govuk-form-group--error' : 'govuk-form-group'">
                <label class="govuk-label govuk-!-width-one-half" for="judgeName"> Courtroom account </label>
                <select class="govuk-select" id="judgeName" formControlName="judgeName">
                    <option *ngFor="let judge of availableJudges" [ngValue]="judge.email">{{ judge.email }}</option>
                </select>
                <div *ngIf="judgeNameInvalid || !isJudgeSelected" class="alert alert-danger">
                    <span id="judgeName-error" class="govuk-error-message"> Please assign a courtroom account to this hearing </span>
                </div>
            </div>

            <p class="govuk-body govuk-!-margin-bottom-5"></p>

            <div class="govuk-!-margin-bottom-9" *ngIf="!switchOffRecording">
                <p class="govuk-body govuk-!-margin-bottom-1">Audio of this hearing to be recorded?</p>
                <div class="govuk-fieldset">
                    <div class="govuk-radios" data-module="radios">
                        <div class="govuk-radios__item">
                            <input
                                formControlName="audioChoice"
                                class="govuk-radios__input"
                                id="audio-choice-yes"
                                type="radio"
                                [value]="true"
                                data-aria-controls="conditional-how-contacted-conditional"
                            />
                            <label class="govuk-label govuk-radios__label" for="audio-choice-yes"> Yes </label>
                        </div>

                        <div class="govuk-radios__item">
                            <input
                                formControlName="audioChoice"
                                class="govuk-radios__input"
                                id="audio-choice-no"
                                type="radio"
                                [value]="false"
                                data-aria-controls="conditional-how-contacted"
                            />
                            <label class="govuk-label govuk-radios__label" for="audio-choice-no"> No </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="govuk-!-margin-bottom-9" [ngClass]="{ 'govuk-form-group--error': judgeDisplayNameInvalid }">
                <legend id="judgeDisplayName-error" *ngIf="judgeDisplayNameInvalid">
                    <span class="govuk-error-message">
                        {{ constants.Error.JudgeDisplayNameErrorMsg }}
                    </span>
                </legend>
                <label class="govuk-label" for="judgeDisplayName"> Judge name </label>
                <div class="govuk-body govuk-hint">Please enter TBC if you don't know the name of the judge</div>
                <input
                    (focusout)="changeDisplayName()"
                    type="text"
                    formControlName="judgeDisplayName"
                    id="judgeDisplayName"
                    class="govuk-input govuk-input--width-20"
                />
            </div>

            <div class="sk-top">
                <button
                    id="nextButton"
                    class="govuk-button vh-mr25"
                    data-module="govuk-button"
                    (click)="saveJudge()"
                    alt="Save judge details and view add participant"
                >
                    {{ buttonAction }}
                </button>
                <button
                    id="cancelButton"
                    class="govuk-button hmcts-button--secondary"
                    data-module="govuk-button"
                    (click)="confirmCancelBooking()"
                    type="button"
                    alt="Confirm cancellation of new booking and return to dashboard"
                >
                    Cancel
                </button>
            </div>
        </form>
    </div>
    <div class="govuk-grid-column-one-half" style="margin: 0">
        <app-participants-list [participants]="hearing.participants"></app-participants-list>
    </div>
</div>

<div *ngIf="attemptingCancellation">
    <app-cancel-popup (continueBooking)="continueBooking($event)" (cancelBooking)="cancelAssignJudge($event)"> </app-cancel-popup>
</div>

<div *ngIf="attemptingDiscardChanges">
    <app-discard-confirm-popup (continueEditing)="continueBooking($event)" (cancelChanges)="cancelChanges()"> </app-discard-confirm-popup>
</div>
