<app-breadcrumb [canNavigate]="canNavigate"></app-breadcrumb>
<h2 class="govuk-heading-l">Book a video hearing</h2>

<h3 class="govuk-heading-m">Assign a Judge</h3>

<div *ngIf="failedSubmission && assignJudgeForm.invalid" class="govuk-error-summary govuk-!-width-one-half"
  aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
  <h2 class="govuk-error-summary__title" id="error-summary-title">
    Please complete the missing information
  </h2>
  <div class="govuk-error-summary__body">
    <ul class="govuk-list govuk-error-summary__list">
      <li *ngIf="judgeName.invalid">
        <a (click)="goToDiv('judgeName-error')">Please select a Judge</a>
      </li>
    </ul>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <form [formGroup]="assignJudgeForm" class="govuk-form-group" (ngSubmit)="saveJudge()">

      <div [ngClass]="(judgeNameInvalid || !isJudgeSelected) ? 'govuk-form-group--error' : 'govuk-form-group'">
        <label class="govuk-label govuk-!-width-one-half" for="judgeName">
          Judge
        </label>
        <select class="govuk-select govuk-input--width-20" id="judgeName" formControlName="judgeName">
          <option *ngFor="let judge of availableJudges" [ngValue]="judge.email">{{ judge.display_name }}</option>
        </select>
        <div *ngIf="(judgeNameInvalid || !isJudgeSelected)" class="alert alert-danger">
          <span id="judgeName-error" class="govuk-error-message">
            Please assign a judge to this hearing
          </span>
        </div>
      </div>

      <p class="govuk-body govuk-!-margin-bottom-9"></p>

      <details class="govuk-details vh-top-m15">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            My judge is not listed
          </span>
        </summary>
        <div class="govuk-details__text">
          Please contact the video hearings team.
        </div>
      </details>

      <div class="sk-top">
        <input type="button" id="nextButton" class="govuk-button" role="button" value="{{buttonAction}}" style="margin-right:25px;"
          (click)="saveJudge()" alt="Save judge details and view add participant" />
        <input type="button" id="cancelButton" class="govuk-button hmcts-button--secondary" role="button" value="Cancel"
          (click)="confirmCancelBooking()" alt="Confirm cancellation of new booking and return to dashboard" />
      </div>
    </form>
  </div>
  <div class="govuk-grid-column-one-half" style="margin: 0;">
    <app-participants-list [participants]="hearing.participants"></app-participants-list>
  </div>
</div>

<div *ngIf="attemptingCancellation">
  <app-cancel-popup (continueBooking)="continueBooking($event)" (cancelBooking)="cancelAssignJudge($event)"></app-cancel-popup>
</div>

<div *ngIf="attemptingDiscardChanges">
  <app-discard-confirm-popup (continueEditing)="continueBooking($event)" (cancelChanges)="cancelChanges()">
  </app-discard-confirm-popup>
</div>
