@import 'govuk-frontend/govuk/base';
.new {
  text-align: center;
  color: govuk-colour('white');
  background-color: govuk-colour('green');
}

.modified {
  text-align: center;
  color: govuk-colour('white');
  background-color: govuk-colour('orange');
}

.removed {
  text-align: center;
  color: govuk-colour('white');
  background-color: govuk-colour('red');
}

.unchanged {
  text-align: center;
  color: govuk-colour('white');
  background-color: govuk-colour('blue');
}
