<h1 class="govuk-heading-l">Manage Ref Data</h1>

<label class="govuk-label" for="file-upload"> Upload the master ref data file </label>

<div class="govuk-grid-column-full govuk-!-margin-top-2">
  <input accept=".csv" type="file" class="govuk-file-upload" (change)="onFileSelected($event)" #fileUpload />
  <button class="govuk-button" data-module="govuk-button" (click)="uploadFile()" [disabled]="!fileName">Upload</button>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <p>New: {{ newLanguages.length }}</p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <p>Modified: {{ modifiedLanguages.length }}</p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <p>Unchanged: {{ unchangedLanguages.length }}</p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <p>Removed: {{ removedLanguages.length }}</p>
  </div>
</div>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Status</th>
      <th scope="col" class="govuk-table__header">Count</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">New</td>
      <td class="govuk-table__cell">{{ newLanguages.length }}</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Modified</td>
      <td class="govuk-table__cell">{{ modifiedLanguages.length }}</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Unchanged</td>
      <td class="govuk-table__cell">{{ unchangedLanguages.length }}</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Removed</td>
      <td class="govuk-table__cell">{{ removedLanguages.length }}</td>
    </tr>
  </tbody>
</table>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Language</th>
      <th scope="col" class="govuk-table__header">Status</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row" *ngFor="let item of this.data">
      <td class="govuk-table__cell">{{ item.language.description }}</td>
      <td class="govuk-table__cell" [ngClass]="item.status">{{ item.status }}</td>
    </tr>
  </tbody>
</table>
