<div *ngIf="displayName" class="govuk-grid-row container">
  <div class="endpoint-row">
    <div class="vhtable-header">
      <div class="endpoint-row__name">{{ displayName }}</div>
      <ul>
        <div *ngFor="let rep of linkedParticipants">
          <li>{{ rep.displayName }}</li>
        </div>
      </ul>
      <div *ngIf="interpretationLanguage?.interpreterRequired" class="endpoint-row__lang">
        {{ interpretationLanguage.spokenLanguageCodeDescription ?? interpretationLanguage.signLanguageDescription }}
      </div>
    </div>

    <div class="endpoint-row__actions">
      <a class="vhlink" href="javascript:void(0)" (click)="edit()">Edit</a>
      <a *ngIf="displayRemoveButton" class="vhlink" href="javascript:void(0)" (click)="delete()">Remove</a>
      <a
        *ngIf="!displayRemoveButton"
        class="vhlink"
        href="javascript:void(0)"
        appTooltip
        [text]="'Cannot remove an endpoint when hearing is about to start'"
        [colour]="'blue'"
        >Remove</a
      >
    </div>
  </div>
</div>
