<h1 class="govuk-heading-l">Pre-hearing check results</h1>
<div class="govuk-grid-row">
    <div class="govuk-grid-two-thirds">
        <div class="vh-r" style="margin-top: 40px;">
            <input id="nextBtn" type="button" class="govuk-button vh-mr20" role="button" value="Refresh" (click)="refreshRecords()" />
        </div>
    </div>
    <div class="govuk-grid-one-third">

        <div class="vh-r">

            <span class="vh-lb">
                <label class="govuk-label" for="pageSize">
                    Page size
                </label>
                <select [(ngModel)]="pageSize" (change)="changePageSize()" class="govuk-select vh-top" name="pageSize" aria-label="pageSize">
                    <option value="5">5</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>

            </span>
        </div>
    </div>
</div>
<div class="govuk-grid-row" *ngIf="error">
    <div class="govuk-grid-column-one-third">
        <p class="govuk-body-l">An error has occured, please try again later or contact your administrator.</p>
    </div>
</div>
<div *ngIf="!loaded && !error">
    <div class="govuk-grid-column-one-third">
        <p class="govuk-body-l">Getting checklists..</p>
    </div>
</div>

<div *ngIf="loaded" class="vhtable">
    <div *ngFor="let ph of checklists; index as i">
        <div id="roundedborder">
            <div class="govuk-grid-row vh-row">

                <div class="govuk-grid-column-two-thirds">
                    <a href="javascript:void(0)" (click)="expandItem(i)">
                        <img src="assets/images/glyphicons-602-chevron-down.png" rel="icon chevron down" *ngIf="ph.IsExpanded" alt="glyphicons-602-chevron-down" />
                        <img src="assets/images/glyphicons-601-chevron-up.png" rel="icon chevron up" *ngIf="!ph.IsExpanded" alt="glyphicons-602-chevron-up"/>
                    </a>
                    {{ph.FullName}} ({{ph.HearingCase}})
                </div>
                <div class="govuk-grid-column-one-third">
                    <span class="vh-date">{{ph.CompletedDate |date: 'dd MMMM yyyy   h:mm a'}}</span>
                </div>

            </div>
            <div class="govuk-grid-row vh-row">
                <div class="rowbottom"></div>
            </div>
            <div *ngIf="ph.IsExpanded">
                <div *ngFor="let q of ph.Answers">
                    <div class="govuk-grid-row vh-row">
                        <div class="govuk-grid-column-two-thirds">
                            <span style="display:table-row" class="vhtable-cell">{{q.Question}}</span>
                            <span style="display:table-row" class="govuk-hint">{{q.Notes}}</span>
                        </div>

                        <div class="govuk-grid-column-one-third vh-wrap">
                            <span class="vh-date vh-wrap">{{q.Answer}}</span>
                        </div>


                    </div>
                    <div class="govuk-grid-row vh-row">
                        <div class="rowbottom"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="vhtable-cell">
        <app-pagination [pagination]="paginationData" (moveToStart$)="handleMoveToStart()" (moveToEnd$)="handleMoveToEnd()"
            (moveNext$)="handleMoveNext()" (movePrevious$)="handleMovePrevious()">
        </app-pagination>
    </div>
</div>