<h1 class="govuk-heading-l">Get an audio file link for a past hearing</h1>

<p class="govuk-body">Only hearings which have been confirmed will appear in the search results.</p>
<p class="govuk-body">You will only be able to get audio file links for hearings that have finished.</p>

<form [formGroup]="form" class="govuk-form-group">
  <div class="govuk-form-group">
    <h2 class="govuk-heading-m">Search</h2>
    <div>
      <div class="govuk-radios" data-module="radios">
        <div class="govuk-radios__item">
          <input
            formControlName="searchChoice"
            class="govuk-radios__input"
            id="search-choice-vhfile"
            type="radio"
            [value]="'vhFile'"
            data-aria-controls="conditional-how-contacted-conditional"
          />
          <label class="govuk-label govuk-radios__label" for="search-choice-vhfile"> Search for a video hearing audio file </label>
        </div>

        <div class="govuk-radios__item">
          <input
            formControlName="searchChoice"
            class="govuk-radios__input"
            id="search-choice-cvpfile"
            type="radio"
            [value]="'cvpFile'"
            data-aria-controls="conditional-how-contacted"
          />
          <label class="govuk-label govuk-radios__label" for="search-choice-cvpfile"> Search for a CVP audio file </label>
        </div>
      </div>
    </div>
  </div>
</form>

<div *ngIf="searchChoice === 'vhFile'">
    <app-get-audio-file-vh></app-get-audio-file-vh>
</div>

<div *ngIf="searchChoice === 'cvpFile'">
    <app-get-audio-file-cvp></app-get-audio-file-cvp>
</div>
