<label class="govuk-label" for="case-type-list">Services</label>
<div [formGroup]="form">
  <ng-select
    id="case-type-list"
    class="custom"
    labelForId="caseTypes"
    [items]="caseTypes"
    bindLabel="item"
    bindValue="item"
    formControlName="selectedCaseTypes"
    [placeholder]="'Select Services'"
    [multiple]="true"
    [attr.aria-label]="'Service list'"
    [closeOnSelect]="false"
    [clearSearchOnAdd]="true"
    [selectOnTab]="true"
    (add)="onSelect()"
    (change)="onSelect()"
  >
    <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
      <input id="item-{{ index }}" type="checkbox" [checked]="item$.selected" [attr.aria-label]="'Service ' + item" />
      {{ item }}
    </ng-template>
  </ng-select>
</div>
