@import 'govuk-frontend/govuk/base';
@import 'govuk-frontend/govuk/core/all';

#from-date-entry,
#to-date-entry {
  @extend .govuk-body;
}

.ng-select.custom ::ng-deep .ng-placeholder {
  color: govuk-colour('black');
}

#checkbox-row {
  margin-left: -1px;
}

.no-border {
  border-bottom: none;
}

.more-than-three {
  border-radius: 50%;
  background-color: #000;
  color: #fff;
  width: 1.9em;
  height: 1.9em;
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}
