@use 'govuk-frontend/dist/govuk/base' as *;

.ng-select.custom ::ng-deep .ng-placeholder {
  color: govuk-colour('black');
}

#checkbox-row {
  margin-left: -1px;
}

.no-border {
  border-bottom: none;
}

.concurrent-hearings-badge {
  border-radius: 50%;
  background-color: govuk-colour('black');
  color: govuk-colour('white');
  width: 1.6em;
  height: 1.6em;
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.align-middle {
  vertical-align: middle;
}
