<div class="govuk-grid-row">
  <ng-container *ngIf="hasConnection$ | async">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">Sorry, there is a problem with the service</h1>
      <p class="govuk-body">Please try again later.</p>
    </div>
  </ng-container>

  <ng-container *ngIf="!(hasConnection$ | async)">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">There's a problem with your connection</h1>
      <p class="govuk-body">Please click "Reconnect" to return to the previous page. Call us if you keep seeing this message.</p>
      <p class="govuk-body">If you keep seeing this message contact the video hearings team.</p>

      <div class="govuk-!-padding-top-4 govuk-!-padding-bottom-4">
        <button
          (click)="reconnect()"
          [disabled]="isConnecting$ | async"
          id="reconnect-btn"
          class="govuk-button govuk-!-margin-right-1"
          data-module="govuk-button"
          type="button"
          aria-label="Continue to the next page"
        >
          Reconnect
        </button>
      </div>

      <h2 class="govuk-heading-m">Contact us for help</h2>
      <p class="govuk-body">Call the Video Hearings team on <strong>0300 303 0655</strong></p>
    </div>
  </ng-container>
</div>
