<div class="govuk-grid-row">
  <ng-container *ngIf="hasConnection$ | async">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">You've been signed out of the service</h1>
      <p class="govuk-body">There was a problem with the service, please sign back in and check the task you were working on.</p>
      <p class="govuk-body">If you keep seeing this message, please raise a Service Now ticket.</p>
    </div>
  </ng-container>

  <ng-container *ngIf="!(hasConnection$ | async)">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">There's a problem with your connection</h1>
      <p class="govuk-body">Please try to reconnect to return to the previous page.</p>
      <p class="govuk-body">If you keep seeing this message, please raise a Service Now ticket.</p>

      <div class="govuk-!-padding-top-4 govuk-!-padding-bottom-4">
        <button
          (click)="reconnect()"
          [disabled]="isConnecting$ | async"
          id="reconnect-btn"
          class="govuk-button govuk-!-margin-right-1"
          data-module="govuk-button"
          type="button"
          aria-label="Continue to the next page"
        >
          Reconnect
        </button>
      </div>
    </div>
  </ng-container>
</div>
