@import 'govuk-frontend/govuk/base';
@import 'govuk-frontend/govuk/components/select';

.ng-select.custom {
  @extend .govuk-select;
  height: 3.1rem;
}
.ng-select.custom .ng-select-container {
  min-height: 0px;
  border-radius: 0;
  border-radius: 0 !important;
}

.custom .ng-select-container {
  border-radius: 0 !important;
}
