<h3 class="govuk-heading-m">Participants</h3>
<div class="participant-details">
  <app-booking-participant-details
      [hearing]="hearing"
    *ngFor="let judge of judges"
    [participant]="judge"
    [vh_officer_admin]="vh_officer_admin"
    class="participant-detail judge-detail"
  >
  </app-booking-participant-details>
  <app-booking-participant-details
      [hearing]="hearing"
    *ngFor="let participant of sortedParticipants"
    [participant]="participant"
    [vh_officer_admin]="vh_officer_admin"
    class="participant-detail"
  >
  </app-booking-participant-details>
</div>
