<div id="roundedborder">
  <h3 class="govuk-heading-m">Participants</h3>
  <div class="vhtable">
    <div id="judges-list">
      <div *ngFor="let judge of judges">
        <app-booking-participant-details [participant]="judge" [vh_officer_admin]="vh_officer_admin"> </app-booking-participant-details>
      </div>
    </div>
    <div id="participants-list">
      <div *ngFor="let participant of participants">
        <app-booking-participant-details [participant]="participant" [vh_officer_admin]="vh_officer_admin">
        </app-booking-participant-details>
      </div>
    </div>
  </div>
</div>
