<div id="roundedborder">
    <h3 class="govuk-heading-m">Participants added</h3>
    <div class="vhtable">
        <div class="govuk-grid-column-one-third vhtable-header vh-image-15" *ngIf="judges.length > 0">
            <img src="/assets/images/govuk-crest.png" height="40" width="40" class="govuk-header__logotype-crest"
                 alt="HM Courts &amp; Tribunals Service crest" />
        </div>
        <div *ngFor="let judge of judges" id="judges-list">
            <app-booking-participant-details [participant]="judge"></app-booking-participant-details>
        </div>
        <div *ngFor="let participant of participants" id="participants-list">
            <app-booking-participant-details [participant]="participant"></app-booking-participant-details>
        </div>
    </div>
</div>
